
// 
// DISPLAY
// 

$display: () !default;

$display: map-merge(
  (
    values: (
      'n'     : none,
      'i'     : inline,
      'b'     : block,
      'ib'    : inline-block,
      'f'     : flex,
      'if'    : inline-flex,
      'tb'    : table,
      'tbc'   : table-cell,
      'tbr'   : table-row,
    ),
    states: (
      'a': false,
      'f': false,
      'h': false,
    )
  )
);