
// 
// TYPOGRAPHY: FONT WEIGHT
// 

$font-weight: () !default;

$font-weight: map-merge(
  (
    values: (
      '100' : 100,
      '200' : 200,
      '300' : 300,
      '400' : 400,
      '500' : 500,
      '600' : 600,
      '700' : 700,
      '800' : 800,
      '900' : 900,
      'n'   : normal,
      'lr'  : lighter,
      'b'   : bold,
      'br'  : bolder,
    ),
    states: (
      'a': false,
      'f': true,
      'h': false,
    )
  ),
  $font-weight
);

// 
// TYPOGRAPHY: FONT STYLE
// 

$font-style: () !default;

$font-style: map-merge(
  (
    values: (
      'n': normal,
      'i': italic,
      'o': oblique,
    ),
    states: (
      'a': false,
      'f': false,
      'h': true,
    )
  ),
  $font-style
);

// 
// TYPOGRAPHY: TEXT ALIGN
// 

$text-align: () !default;

$text-align: (
  (
    values: (
      'c'     : center,
      'end'   : right,
      'j'     : justify,
      'start' : left,
    ),
    states: (
      'a': false,
      'f': false,
      'h': false,
    )
  ),
  $text-align
);

// 
// TYPOGRAPHY: TEXT DECORATION
// 

$text-decoration: () !default;

$text-decoration: map-merge(
  (
    values: (
      'n'     : none,
      'lt'    : line-through,
      'o'     : overline,
      'u'     : underline,
    ),
    states: (
      'a': false,
      'f': false,
      'h': true,
    )
  ),
  $text-decoration
);

// 
// TYPOGRAPHY: TEXT TRANSFORM
// 

$text-transform: () !default;

$text-transform: (
  (
    values: (
      'n' : none,
      'c' : capitalize,
      'u' : uppercase,
      'l' : lowercase,
    ),
    states: (
      'a': false,
      'f': false,
      'h': false,
    )
  ),
  $text-transform
);