
// 
// TYPOGRAPHY
// 

@each $property, $value in map-get($font-weight, 'values') {
    .fw\@#{$property} {
        font-weight: $value;
    }
}

@each $property, $value in map-get($font-style, 'values') {
    .fs\@#{$property} {
        font-style: $value;
    }
}

@each $property, $value in map-get($text-align, 'values') {
    .ta\@#{$property} {
        text-align: $value;
    }
}

@each $property, $value in map-get($text-decoration, 'values') {
    .td\@#{$property} {
        text-decoration: $value;
    }
}

@each $property, $value in map-get($text-transform, 'values') {
    .tt\@#{$property} {
        text-transform: $value;
    }
}