
.height-auto {
    height: auto !important;
}

.height-0 {
    height: 0 !important;
}

.height-1 {
    height: .25rem !important;
}

.height-2 {
    height: .5rem !important;
}

.height-3 {
    height: .75rem !important;
}

.height-4 {
    height: 1rem !important;
}

.height-5 {
    height: 1.25rem !important;
}

.height-6 {
    height: 1.5rem !important;
}

.height-8 {
    height: 2rem !important;
}

.height-10 {
    height: 2.5rem !important;
}

.height-12 {
    height: 3rem !important;
}

.height-16 {
    height: 4rem !important;
}

.height-20 {
    height: 5rem !important;
}

.height-24 {
    height: 6rem !important;
}

.height-32 {
    height: 8rem !important;
}

.height-40 {
    height: 10rem !important;
}

.height-48 {
    height: 12rem !important;
}

.height-56 {
    height: 14rem !important;
}

.height-64 {
    height: 16rem !important;
}

@media(min-width: 576px) {
    .height-auto--sm {
        height: auto !important;
    }

    .height-0--sm {
        height: 0 !important;
    }

    .height-1--sm {
        height: .25rem !important;
    }

    .height-2--sm {
        height: .5rem !important;
    }

    .height-3--sm {
        height: .75rem !important;
    }

    .height-4--sm {
        height: 1rem !important;
    }

    .height-5--sm {
        height: 1.25rem !important;
    }

    .height-6--sm {
        height: 1.5rem !important;
    }

    .height-8--sm {
        height: 2rem !important;
    }

    .height-10--sm {
        height: 2.5rem !important;
    }

    .height-12--sm {
        height: 3rem !important;
    }

    .height-16--sm {
        height: 4rem !important;
    }

    .height-20--sm {
        height: 5rem !important;
    }

    .height-24--sm {
        height: 6rem !important;
    }

    .height-32--sm {
        height: 8rem !important;
    }

    .height-40--sm {
        height: 10rem !important;
    }

    .height-48--sm {
        height: 12rem !important;
    }

    .height-56--sm {
        height: 14rem !important;
    }

    .height-64--sm {
        height: 16rem !important;
    }
}

@media(min-width: 768px) {
    .height-auto--md {
        height: auto !important;
    }

    .height-0--md {
        height: 0 !important;
    }

    .height-1--md {
        height: .25rem !important;
    }

    .height-2--md {
        height: .5rem !important;
    }

    .height-3--md {
        height: .75rem !important;
    }

    .height-4--md {
        height: 1rem !important;
    }

    .height-5--md {
        height: 1.25rem !important;
    }

    .height-6--md {
        height: 1.5rem !important;
    }

    .height-8--md {
        height: 2rem !important;
    }

    .height-10--md {
        height: 2.5rem !important;
    }

    .height-12--md {
        height: 3rem !important;
    }

    .height-16--md {
        height: 4rem !important;
    }

    .height-20--md {
        height: 5rem !important;
    }

    .height-24--md {
        height: 6rem !important;
    }

    .height-32--md {
        height: 8rem !important;
    }

    .height-40--md {
        height: 10rem !important;
    }

    .height-48--md {
        height: 12rem !important;
    }

    .height-56--md {
        height: 14rem !important;
    }

    .height-64--md {
        height: 16rem !important;
    }
}

@media(min-width: 992px) {
    .height-auto--lg {
        height: auto !important;
    }

    .height-0--lg {
        height: 0 !important;
    }

    .height-1--lg {
        height: .25rem !important;
    }

    .height-2--lg {
        height: .5rem !important;
    }

    .height-3--lg {
        height: .75rem !important;
    }

    .height-4--lg {
        height: 1rem !important;
    }

    .height-5--lg {
        height: 1.25rem !important;
    }

    .height-6--lg {
        height: 1.5rem !important;
    }

    .height-8--lg {
        height: 2rem !important;
    }

    .height-10--lg {
        height: 2.5rem !important;
    }

    .height-12--lg {
        height: 3rem !important;
    }

    .height-16--lg {
        height: 4rem !important;
    }

    .height-20--lg {
        height: 5rem !important;
    }

    .height-24--lg {
        height: 6rem !important;
    }

    .height-32--lg {
        height: 8rem !important;
    }

    .height-40--lg {
        height: 10rem !important;
    }

    .height-48--lg {
        height: 12rem !important;
    }

    .height-56--lg {
        height: 14rem !important;
    }

    .height-64--lg {
        height: 16rem !important;
    }
}

@media(min-width: 1200px) {
    .height-auto--xl {
        height: auto !important;
    }

    .height-0--xl {
        height: 0 !important;
    }

    .height-1--xl {
        height: .25rem !important;
    }

    .height-2--xl {
        height: .5rem !important;
    }

    .height-3--xl {
        height: .75rem !important;
    }

    .height-4--xl {
        height: 1rem !important;
    }

    .height-5--xl {
        height: 1.25rem !important;
    }

    .height-6--xl {
        height: 1.5rem !important;
    }

    .height-8--xl {
        height: 2rem !important;
    }

    .height-10--xl {
        height: 2.5rem !important;
    }

    .height-12--xl {
        height: 3rem !important;
    }

    .height-16--xl {
        height: 4rem !important;
    }

    .height-20--xl {
        height: 5rem !important;
    }

    .height-24--xl {
        height: 6rem !important;
    }

    .height-32--xl {
        height: 8rem !important;
    }

    .height-40--xl {
        height: 10rem !important;
    }

    .height-48--xl {
        height: 12rem !important;
    }

    .height-56--xl {
        height: 14rem !important;
    }

    .height-64--xl {
        height: 16rem !important;
    }
}