
.padding-0 {
    padding: 0 !important;
}

.padding-1 {
    padding: .25rem !important;
}

.padding-2 {
    padding: .5rem !important;
}

.padding-3 {
    padding: .75rem !important;
}

.padding-4 {
    padding: 1rem !important;
}

.padding-5 {
    padding: 1.25rem !important;
}

.padding-6 {
    padding: 1.5rem !important;
}

.padding-8 {
    padding: 2rem !important;
}

.padding-10 {
    padding: 2.5rem !important;
}

.padding-12 {
    padding: 3rem !important;
}

.padding-16 {
    padding: 4rem !important;
}

.padding-20 {
    padding: 5rem !important;
}

.padding-24 {
    padding: 6rem !important;
}

.padding-32 {
    padding: 8rem !important;
}

.padding-40 {
    padding: 10rem !important;
}

.padding-48 {
    padding: 12rem !important;
}

.padding-56 {
    padding: 14rem !important;
}

.padding-64 {
    padding: 16rem !important;
}

@media (min-width: 576px) {
    .padding-0--sm {
        padding: 0 !important;
    }
    
    .padding-1--sm {
        padding: .25rem !important;
    }
    
    .padding-2--sm {
        padding: .5rem !important;
    }
    
    .padding-3--sm {
        padding: .75rem !important;
    }
    
    .padding-4--sm {
        padding: 1rem !important;
    }
    
    .padding-5--sm {
        padding: 1.25rem !important;
    }
    
    .padding-6--sm {
        padding: 1.5rem !important;
    }
    
    .padding-8--sm {
        padding: 2rem !important;
    }
    
    .padding-10--sm {
        padding: 2.5rem !important;
    }
    
    .padding-12--sm {
        padding: 3rem !important;
    }
    
    .padding-16--sm {
        padding: 4rem !important;
    }
    
    .padding-20--sm {
        padding: 5rem !important;
    }
    
    .padding-24--sm {
        padding: 6rem !important;
    }
    
    .padding-32--sm {
        padding: 8rem !important;
    }
    
    .padding-40--sm {
        padding: 10rem !important;
    }
    
    .padding-48--sm {
        padding: 12rem !important;
    }
    
    .padding-56--sm {
        padding: 14rem !important;
    }
    
    .padding-64--sm {
        padding: 16rem !important;
    }
}

@media (min-width: 768px) {
    .padding-0--md {
        padding: 0 !important;
    }
    
    .padding-1--md {
        padding: .25rem !important;
    }
    
    .padding-2--md {
        padding: .5rem !important;
    }
    
    .padding-3--md {
        padding: .75rem !important;
    }
    
    .padding-4--md {
        padding: 1rem !important;
    }
    
    .padding-5--md {
        padding: 1.25rem !important;
    }
    
    .padding-6--md {
        padding: 1.5rem !important;
    }
    
    .padding-8--md {
        padding: 2rem !important;
    }
    
    .padding-10--md {
        padding: 2.5rem !important;
    }
    
    .padding-12--md {
        padding: 3rem !important;
    }
    
    .padding-16--md {
        padding: 4rem !important;
    }
    
    .padding-20--md {
        padding: 5rem !important;
    }
    
    .padding-24--md {
        padding: 6rem !important;
    }
    
    .padding-32--md {
        padding: 8rem !important;
    }
    
    .padding-40--md {
        padding: 10rem !important;
    }
    
    .padding-48--md {
        padding: 12rem !important;
    }
    
    .padding-56--md {
        padding: 14rem !important;
    }
    
    .padding-64--md {
        padding: 16rem !important;
    }
}

@media (min-width: 992px) {
    .padding-0--lg {
        padding: 0 !important;
    }
    
    .padding-1--lg {
        padding: .25rem !important;
    }
    
    .padding-2--lg {
        padding: .5rem !important;
    }
    
    .padding-3--lg {
        padding: .75rem !important;
    }
    
    .padding-4--lg {
        padding: 1rem !important;
    }
    
    .padding-5--lg {
        padding: 1.25rem !important;
    }
    
    .padding-6--lg {
        padding: 1.5rem !important;
    }
    
    .padding-8--lg {
        padding: 2rem !important;
    }
    
    .padding-10--lg {
        padding: 2.5rem !important;
    }
    
    .padding-12--lg {
        padding: 3rem !important;
    }
    
    .padding-16--lg {
        padding: 4rem !important;
    }
    
    .padding-20--lg {
        padding: 5rem !important;
    }
    
    .padding-24--lg {
        padding: 6rem !important;
    }
    
    .padding-32--lg {
        padding: 8rem !important;
    }
    
    .padding-40--lg {
        padding: 10rem !important;
    }
    
    .padding-48--lg {
        padding: 12rem !important;
    }
    
    .padding-56--lg {
        padding: 14rem !important;
    }
    
    .padding-64--lg {
        padding: 16rem !important;
    }
}

@media (min-width: 1200px) {
    .padding-0--xl {
        padding: 0 !important;
    }
    
    .padding-1--xl {
        padding: .25rem !important;
    }
    
    .padding-2--xl {
        padding: .5rem !important;
    }
    
    .padding-3--xl {
        padding: .75rem !important;
    }
    
    .padding-4--xl {
        padding: 1rem !important;
    }
    
    .padding-5--xl {
        padding: 1.25rem !important;
    }
    
    .padding-6--xl {
        padding: 1.5rem !important;
    }
    
    .padding-8--xl {
        padding: 2rem !important;
    }
    
    .padding-10--xl {
        padding: 2.5rem !important;
    }
    
    .padding-12--xl {
        padding: 3rem !important;
    }
    
    .padding-16--xl {
        padding: 4rem !important;
    }
    
    .padding-20--xl {
        padding: 5rem !important;
    }
    
    .padding-24--xl {
        padding: 6rem !important;
    }
    
    .padding-32--xl {
        padding: 8rem !important;
    }
    
    .padding-40--xl {
        padding: 10rem !important;
    }
    
    .padding-48--xl {
        padding: 12rem !important;
    }
    
    .padding-56--xl {
        padding: 14rem !important;
    }
    
    .padding-64--xl {
        padding: 16rem !important;
    }
}

.paddingX-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.paddingX-1 {
    padding-left: .25rem !important;
    padding-right: .25rem !important;
}

.paddingX-2 {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}

.paddingX-3 {
    padding-left: .75rem !important;
    padding-right: .75rem !important;
}

.paddingX-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.paddingX-5 {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

.paddingX-6 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.paddingX-8 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.paddingX-10 {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
}

.paddingX-12 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.paddingX-16 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.paddingX-20 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

.paddingX-24 {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}

.paddingX-32 {
    padding-left: 8rem !important;
    padding-right: 8rem !important;
}

.paddingX-40 {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
}

.paddingX-48 {
    padding-left: 12rem !important;
    padding-right: 12rem !important;
}

.paddingX-56 {
    padding-left: 14rem !important;
    padding-right: 14rem !important;
}

.paddingX-64 {
    padding-left: 16rem !important;
    padding-right: 16rem !important;
}

@media (min-width: 576px) {
    .paddingX-0--sm {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .paddingX-1--sm {
        padding-left: .25rem !important;
        padding-right: .25rem !important;
    }
    
    .paddingX-2--sm {
        padding-left: .5rem !important;
        padding-right: .5rem !important;
    }
    
    .paddingX-3--sm {
        padding-left: .75rem !important;
        padding-right: .75rem !important;
    }
    
    .paddingX-4--sm {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .paddingX-5--sm {
        padding-left: 1.25rem !important;
        padding-right: 1.25rem !important;
    }
    
    .paddingX-6--sm {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    
    .paddingX-8--sm {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    
    .paddingX-10--sm {
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }
    
    .paddingX-12--sm {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    
    .paddingX-16--sm {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
    
    .paddingX-20--sm {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
    
    .paddingX-24--sm {
        padding-left: 6rem !important;
        padding-right: 6rem !important;
    }
    
    .paddingX-32--sm {
        padding-left: 8rem !important;
        padding-right: 8rem !important;
    }
    
    .paddingX-40--sm {
        padding-left: 10rem !important;
        padding-right: 10rem !important;
    }
    
    .paddingX-48--sm {
        padding-left: 12rem !important;
        padding-right: 12rem !important;
    }
    
    .paddingX-56--sm {
        padding-left: 14rem !important;
        padding-right: 14rem !important;
    }
    
    .paddingX-64--sm {
        padding-left: 16rem !important;
        padding-right: 16rem !important;
    }
}

@media (min-width: 768px) {
    .paddingX-0--md {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .paddingX-1--md {
        padding-left: .25rem !important;
        padding-right: .25rem !important;
    }
    
    .paddingX-2--md {
        padding-left: .5rem !important;
        padding-right: .5rem !important;
    }
    
    .paddingX-3--md {
        padding-left: .75rem !important;
        padding-right: .75rem !important;
    }
    
    .paddingX-4--md {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .paddingX-5--md {
        padding-left: 1.25rem !important;
        padding-right: 1.25rem !important;
    }
    
    .paddingX-6--md {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    
    .paddingX-8--md {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    
    .paddingX-10--md {
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }
    
    .paddingX-12--md {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    
    .paddingX-16--md {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
    
    .paddingX-20--md {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
    
    .paddingX-24--md {
        padding-left: 6rem !important;
        padding-right: 6rem !important;
    }
    
    .paddingX-32--md {
        padding-left: 8rem !important;
        padding-right: 8rem !important;
    }
    
    .paddingX-40--md {
        padding-left: 10rem !important;
        padding-right: 10rem !important;
    }
    
    .paddingX-48--md {
        padding-left: 12rem !important;
        padding-right: 12rem !important;
    }
    
    .paddingX-56--md {
        padding-left: 14rem !important;
        padding-right: 14rem !important;
    }
    
    .paddingX-64--md {
        padding-left: 16rem !important;
        padding-right: 16rem !important;
    }
}

@media (min-width: 992px) {
    .paddingX-0--lg {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .paddingX-1--lg {
        padding-left: .25rem !important;
        padding-right: .25rem !important;
    }
    
    .paddingX-2--lg {
        padding-left: .5rem !important;
        padding-right: .5rem !important;
    }
    
    .paddingX-3--lg {
        padding-left: .75rem !important;
        padding-right: .75rem !important;
    }
    
    .paddingX-4--lg {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .paddingX-5--lg {
        padding-left: 1.25rem !important;
        padding-right: 1.25rem !important;
    }
    
    .paddingX-6--lg {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    
    .paddingX-8--lg {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    
    .paddingX-10--lg {
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }
    
    .paddingX-12--lg {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    
    .paddingX-16--lg {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
    
    .paddingX-20--lg {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
    
    .paddingX-24--lg {
        padding-left: 6rem !important;
        padding-right: 6rem !important;
    }
    
    .paddingX-32--lg {
        padding-left: 8rem !important;
        padding-right: 8rem !important;
    }
    
    .paddingX-40--lg {
        padding-left: 10rem !important;
        padding-right: 10rem !important;
    }
    
    .paddingX-48--lg {
        padding-left: 12rem !important;
        padding-right: 12rem !important;
    }
    
    .paddingX-56--lg {
        padding-left: 14rem !important;
        padding-right: 14rem !important;
    }
    
    .paddingX-64--lg {
        padding-left: 16rem !important;
        padding-right: 16rem !important;
    }
}

@media (min-width: 1200px) {
    .paddingX-0--xl {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .paddingX-1--xl {
        padding-left: .25rem !important;
        padding-right: .25rem !important;
    }
    
    .paddingX-2--xl {
        padding-left: .5rem !important;
        padding-right: .5rem !important;
    }
    
    .paddingX-3--xl {
        padding-left: .75rem !important;
        padding-right: .75rem !important;
    }
    
    .paddingX-4--xl {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .paddingX-5--xl {
        padding-left: 1.25rem !important;
        padding-right: 1.25rem !important;
    }
    
    .paddingX-6--xl {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    
    .paddingX-8--xl {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    
    .paddingX-10--xl {
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }
    
    .paddingX-12--xl {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    
    .paddingX-16--xl {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
    
    .paddingX-20--xl {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
    
    .paddingX-24--xl {
        padding-left: 6rem !important;
        padding-right: 6rem !important;
    }
    
    .paddingX-32--xl {
        padding-left: 8rem !important;
        padding-right: 8rem !important;
    }
    
    .paddingX-40--xl {
        padding-left: 10rem !important;
        padding-right: 10rem !important;
    }
    
    .paddingX-48--xl {
        padding-left: 12rem !important;
        padding-right: 12rem !important;
    }
    
    .paddingX-56--xl {
        padding-left: 14rem !important;
        padding-right: 14rem !important;
    }
    
    .paddingX-64--xl {
        padding-left: 16rem !important;
        padding-right: 16rem !important;
    }
}

.paddingY-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.paddingY-1 {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
}

.paddingY-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}

.paddingY-3 {
    padding-top: .75rem !important;
    padding-bottom: .75rem !important;
}

.paddingY-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.paddingY-5 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
}

.paddingY-6 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.paddingY-8 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.paddingY-10 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
}

.paddingY-12 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.paddingY-16 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.paddingY-20 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.paddingY-24 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.paddingY-32 {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
}

.paddingY-40 {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
}

.paddingY-48 {
    padding-top: 12rem !important;
    padding-bottom: 12rem !important;
}

.paddingY-56 {
    padding-top: 14rem !important;
    padding-bottom: 14rem !important;
}

.paddingY-64 {
    padding-top: 16rem !important;
    padding-bottom: 16rem !important;
}

@media (min-width: 576px) {
    .paddingY-0--sm {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    
    .paddingY-1--sm {
        padding-top: .25rem !important;
        padding-bottom: .25rem !important;
    }
    
    .paddingY-2--sm {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }
    
    .paddingY-3--sm {
        padding-top: .75rem !important;
        padding-bottom: .75rem !important;
    }
    
    .paddingY-4--sm {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    
    .paddingY-5--sm {
        padding-top: 1.25rem !important;
        padding-bottom: 1.25rem !important;
    }
    
    .paddingY-6--sm {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
    
    .paddingY-8--sm {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
    
    .paddingY-10--sm {
        padding-top: 2.5rem !important;
        padding-bottom: 2.5rem !important;
    }
    
    .paddingY-12--sm {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    
    .paddingY-16--sm {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }
    
    .paddingY-20--sm {
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
    
    .paddingY-24--sm {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
    
    .paddingY-32--sm {
        padding-top: 8rem !important;
        padding-bottom: 8rem !important;
    }
    
    .paddingY-40--sm {
        padding-top: 10rem !important;
        padding-bottom: 10rem !important;
    }
    
    .paddingY-48--sm {
        padding-top: 12rem !important;
        padding-bottom: 12rem !important;
    }
    
    .paddingY-56--sm {
        padding-top: 14rem !important;
        padding-bottom: 14rem !important;
    }
    
    .paddingY-64--sm {
        padding-top: 16rem !important;
        padding-bottom: 16rem !important;
    }
}

@media (min-width: 768px) {
    .paddingY-0--md {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    
    .paddingY-1--md {
        padding-top: .25rem !important;
        padding-bottom: .25rem !important;
    }
    
    .paddingY-2--md {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }
    
    .paddingY-3--md {
        padding-top: .75rem !important;
        padding-bottom: .75rem !important;
    }
    
    .paddingY-4--md {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    
    .paddingY-5--md {
        padding-top: 1.25rem !important;
        padding-bottom: 1.25rem !important;
    }
    
    .paddingY-6--md {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
    
    .paddingY-8--md {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
    
    .paddingY-10--md {
        padding-top: 2.5rem !important;
        padding-bottom: 2.5rem !important;
    }
    
    .paddingY-12--md {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    
    .paddingY-16--md {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }
    
    .paddingY-20--md {
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
    
    .paddingY-24--md {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
    
    .paddingY-32--md {
        padding-top: 8rem !important;
        padding-bottom: 8rem !important;
    }
    
    .paddingY-40--md {
        padding-top: 10rem !important;
        padding-bottom: 10rem !important;
    }
    
    .paddingY-48--md {
        padding-top: 12rem !important;
        padding-bottom: 12rem !important;
    }
    
    .paddingY-56--md {
        padding-top: 14rem !important;
        padding-bottom: 14rem !important;
    }
    
    .paddingY-64--md {
        padding-top: 16rem !important;
        padding-bottom: 16rem !important;
    }
}

@media (min-width: 992px) {
    .paddingY-0--lg {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    
    .paddingY-1--lg {
        padding-top: .25rem !important;
        padding-bottom: .25rem !important;
    }
    
    .paddingY-2--lg {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }
    
    .paddingY-3--lg {
        padding-top: .75rem !important;
        padding-bottom: .75rem !important;
    }
    
    .paddingY-4--lg {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    
    .paddingY-5--lg {
        padding-top: 1.25rem !important;
        padding-bottom: 1.25rem !important;
    }
    
    .paddingY-6--lg {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
    
    .paddingY-8--lg {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
    
    .paddingY-10--lg {
        padding-top: 2.5rem !important;
        padding-bottom: 2.5rem !important;
    }
    
    .paddingY-12--lg {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    
    .paddingY-16--lg {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }
    
    .paddingY-20--lg {
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
    
    .paddingY-24--lg {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
    
    .paddingY-32--lg {
        padding-top: 8rem !important;
        padding-bottom: 8rem !important;
    }
    
    .paddingY-40--lg {
        padding-top: 10rem !important;
        padding-bottom: 10rem !important;
    }
    
    .paddingY-48--lg {
        padding-top: 12rem !important;
        padding-bottom: 12rem !important;
    }
    
    .paddingY-56--lg {
        padding-top: 14rem !important;
        padding-bottom: 14rem !important;
    }
    
    .paddingY-64--lg {
        padding-top: 16rem !important;
        padding-bottom: 16rem !important;
    }
}

@media (min-width: 1200px) {
    .paddingY-0--xl {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    
    .paddingY-1--xl {
        padding-top: .25rem !important;
        padding-bottom: .25rem !important;
    }
    
    .paddingY-2--xl {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }
    
    .paddingY-3--xl {
        padding-top: .75rem !important;
        padding-bottom: .75rem !important;
    }
    
    .paddingY-4--xl {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    
    .paddingY-5--xl {
        padding-top: 1.25rem !important;
        padding-bottom: 1.25rem !important;
    }
    
    .paddingY-6--xl {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
    
    .paddingY-8--xl {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
    
    .paddingY-10--xl {
        padding-top: 2.5rem !important;
        padding-bottom: 2.5rem !important;
    }
    
    .paddingY-12--xl {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    
    .paddingY-16--xl {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }
    
    .paddingY-20--xl {
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
    
    .paddingY-24--xl {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
    
    .paddingY-32--xl {
        padding-top: 8rem !important;
        padding-bottom: 8rem !important;
    }
    
    .paddingY-40--xl {
        padding-top: 10rem !important;
        padding-bottom: 10rem !important;
    }
    
    .paddingY-48--xl {
        padding-top: 12rem !important;
        padding-bottom: 12rem !important;
    }
    
    .paddingY-56--xl {
        padding-top: 14rem !important;
        padding-bottom: 14rem !important;
    }
    
    .paddingY-64--xl {
        padding-top: 16rem !important;
        padding-bottom: 16rem !important;
    }
}

.paddingTop-0 {
    padding-top: 0 !important;
}

.paddingTop-1 {
    padding-top: .25rem !important;
}

.paddingTop-2 {
    padding-top: .5rem !important;
}

.paddingTop-3 {
    padding-top: .75rem !important;
}

.paddingTop-4 {
    padding-top: 1rem !important;
}

.paddingTop-5 {
    padding-top: 1.25rem !important;
}

.paddingTop-6 {
    padding-top: 1.5rem !important;
}

.paddingTop-8 {
    padding-top: 2rem !important;
}

.paddingTop-10 {
    padding-top: 2.5rem !important;
}

.paddingTop-12 {
    padding-top: 3rem !important;
}

.paddingTop-16 {
    padding-top: 4rem !important;
}

.paddingTop-20 {
    padding-top: 5rem !important;
}

.paddingTop-24 {
    padding-top: 6rem !important;
}

.paddingTop-32 {
    padding-top: 8rem !important;
}

.paddingTop-40 {
    padding-top: 10rem !important;
}

.paddingTop-48 {
    padding-top: 12rem !important;
}

.paddingTop-56 {
    padding-top: 14rem !important;
}

.paddingTop-64 {
    padding-top: 16rem !important;
}

@media (min-width: 576px) {
    .paddingTop-0--sm {
        padding-top: 0 !important;
    }
    
    .paddingTop-1--sm {
        padding-top: .25rem !important;
    }
    
    .paddingTop-2--sm {
        padding-top: .5rem !important;
    }
    
    .paddingTop-3--sm {
        padding-top: .75rem !important;
    }
    
    .paddingTop-4--sm {
        padding-top: 1rem !important;
    }
    
    .paddingTop-5--sm {
        padding-top: 1.25rem !important;
    }
    
    .paddingTop-6--sm {
        padding-top: 1.5rem !important;
    }
    
    .paddingTop-8--sm {
        padding-top: 2rem !important;
    }
    
    .paddingTop-10--sm {
        padding-top: 2.5rem !important;
    }
    
    .paddingTop-12--sm {
        padding-top: 3rem !important;
    }
    
    .paddingTop-16--sm {
        padding-top: 4rem !important;
    }
    
    .paddingTop-20--sm {
        padding-top: 5rem !important;
    }
    
    .paddingTop-24--sm {
        padding-top: 6rem !important;
    }
    
    .paddingTop-32--sm {
        padding-top: 8rem !important;
    }
    
    .paddingTop-40--sm {
        padding-top: 10rem !important;
    }
    
    .paddingTop-48--sm {
        padding-top: 12rem !important;
    }
    
    .paddingTop-56--sm {
        padding-top: 14rem !important;
    }
    
    .paddingTop-64--sm {
        padding-top: 16rem !important;
    }
}

@media (min-width: 768px) {
    .paddingTop-0--md {
        padding-top: 0 !important;
    }
    
    .paddingTop-1--md {
        padding-top: .25rem !important;
    }
    
    .paddingTop-2--md {
        padding-top: .5rem !important;
    }
    
    .paddingTop-3--md {
        padding-top: .75rem !important;
    }
    
    .paddingTop-4--md {
        padding-top: 1rem !important;
    }
    
    .paddingTop-5--md {
        padding-top: 1.25rem !important;
    }
    
    .paddingTop-6--md {
        padding-top: 1.5rem !important;
    }
    
    .paddingTop-8--md {
        padding-top: 2rem !important;
    }
    
    .paddingTop-10--md {
        padding-top: 2.5rem !important;
    }
    
    .paddingTop-12--md {
        padding-top: 3rem !important;
    }
    
    .paddingTop-16--md {
        padding-top: 4rem !important;
    }
    
    .paddingTop-20--md {
        padding-top: 5rem !important;
    }
    
    .paddingTop-24--md {
        padding-top: 6rem !important;
    }
    
    .paddingTop-32--md {
        padding-top: 8rem !important;
    }
    
    .paddingTop-40--md {
        padding-top: 10rem !important;
    }
    
    .paddingTop-48--md {
        padding-top: 12rem !important;
    }
    
    .paddingTop-56--md {
        padding-top: 14rem !important;
    }
    
    .paddingTop-64--md {
        padding-top: 16rem !important;
    }
}

@media (min-width: 992px) {
    .paddingTop-0--lg {
        padding-top: 0 !important;
    }
    
    .paddingTop-1--lg {
        padding-top: .25rem !important;
    }
    
    .paddingTop-2--lg {
        padding-top: .5rem !important;
    }
    
    .paddingTop-3--lg {
        padding-top: .75rem !important;
    }
    
    .paddingTop-4--lg {
        padding-top: 1rem !important;
    }
    
    .paddingTop-5--lg {
        padding-top: 1.25rem !important;
    }
    
    .paddingTop-6--lg {
        padding-top: 1.5rem !important;
    }
    
    .paddingTop-8--lg {
        padding-top: 2rem !important;
    }
    
    .paddingTop-10--lg {
        padding-top: 2.5rem !important;
    }
    
    .paddingTop-12--lg {
        padding-top: 3rem !important;
    }
    
    .paddingTop-16--lg {
        padding-top: 4rem !important;
    }
    
    .paddingTop-20--lg {
        padding-top: 5rem !important;
    }
    
    .paddingTop-24--lg {
        padding-top: 6rem !important;
    }
    
    .paddingTop-32--lg {
        padding-top: 8rem !important;
    }
    
    .paddingTop-40--lg {
        padding-top: 10rem !important;
    }
    
    .paddingTop-48--lg {
        padding-top: 12rem !important;
    }
    
    .paddingTop-56--lg {
        padding-top: 14rem !important;
    }
    
    .paddingTop-64--lg {
        padding-top: 16rem !important;
    }
}

@media (min-width: 1200px) {
    .paddingTop-0--xl {
        padding-top: 0 !important;
    }
    
    .paddingTop-1--xl {
        padding-top: .25rem !important;
    }
    
    .paddingTop-2--xl {
        padding-top: .5rem !important;
    }
    
    .paddingTop-3--xl {
        padding-top: .75rem !important;
    }
    
    .paddingTop-4--xl {
        padding-top: 1rem !important;
    }
    
    .paddingTop-5--xl {
        padding-top: 1.25rem !important;
    }
    
    .paddingTop-6--xl {
        padding-top: 1.5rem !important;
    }
    
    .paddingTop-8--xl {
        padding-top: 2rem !important;
    }
    
    .paddingTop-10--xl {
        padding-top: 2.5rem !important;
    }
    
    .paddingTop-12--xl {
        padding-top: 3rem !important;
    }
    
    .paddingTop-16--xl {
        padding-top: 4rem !important;
    }
    
    .paddingTop-20--xl {
        padding-top: 5rem !important;
    }
    
    .paddingTop-24--xl {
        padding-top: 6rem !important;
    }
    
    .paddingTop-32--xl {
        padding-top: 8rem !important;
    }
    
    .paddingTop-40--xl {
        padding-top: 10rem !important;
    }
    
    .paddingTop-48--xl {
        padding-top: 12rem !important;
    }
    
    .paddingTop-56--xl {
        padding-top: 14rem !important;
    }
    
    .paddingTop-64--xl {
        padding-top: 16rem !important;
    }
}

.paddingRight-0 {
    padding-right: 0 !important;
}

.paddingRight-1 {
    padding-right: .25rem !important;
}

.paddingRight-2 {
    padding-right: .5rem !important;
}

.paddingRight-3 {
    padding-right: .75rem !important;
}

.paddingRight-4 {
    padding-right: 1rem !important;
}

.paddingRight-5 {
    padding-right: 1.25rem !important;
}

.paddingRight-6 {
    padding-right: 1.5rem !important;
}

.paddingRight-8 {
    padding-right: 2rem !important;
}

.paddingRight-10 {
    padding-right: 2.5rem !important;
}

.paddingRight-12 {
    padding-right: 3rem !important;
}

.paddingRight-16 {
    padding-right: 4rem !important;
}

.paddingRight-20 {
    padding-right: 5rem !important;
}

.paddingRight-24 {
    padding-right: 6rem !important;
}

.paddingRight-32 {
    padding-right: 8rem !important;
}

.paddingRight-40 {
    padding-right: 10rem !important;
}

.paddingRight-48 {
    padding-right: 12rem !important;
}

.paddingRight-56 {
    padding-right: 14rem !important;
}

.paddingRight-64 {
    padding-right: 16rem !important;
}

@media (min-width: 576px) {
    .paddingRight-0--sm {
        padding-right: 0 !important;
    }
    
    .paddingRight-1--sm {
        padding-right: .25rem !important;
    }
    
    .paddingRight-2--sm {
        padding-right: .5rem !important;
    }
    
    .paddingRight-3--sm {
        padding-right: .75rem !important;
    }
    
    .paddingRight-4--sm {
        padding-right: 1rem !important;
    }
    
    .paddingRight-5--sm {
        padding-right: 1.25rem !important;
    }
    
    .paddingRight-6--sm {
        padding-right: 1.5rem !important;
    }
    
    .paddingRight-8--sm {
        padding-right: 2rem !important;
    }
    
    .paddingRight-10--sm {
        padding-right: 2.5rem !important;
    }
    
    .paddingRight-12--sm {
        padding-right: 3rem !important;
    }
    
    .paddingRight-16--sm {
        padding-right: 4rem !important;
    }
    
    .paddingRight-20--sm {
        padding-right: 5rem !important;
    }
    
    .paddingRight-24--sm {
        padding-right: 6rem !important;
    }
    
    .paddingRight-32--sm {
        padding-right: 8rem !important;
    }
    
    .paddingRight-40--sm {
        padding-right: 10rem !important;
    }
    
    .paddingRight-48--sm {
        padding-right: 12rem !important;
    }
    
    .paddingRight-56--sm {
        padding-right: 14rem !important;
    }
    
    .paddingRight-64--sm {
        padding-right: 16rem !important;
    }
}

@media (min-width: 768px) {
    .paddingRight-0--md {
        padding-right: 0 !important;
    }
    
    .paddingRight-1--md {
        padding-right: .25rem !important;
    }
    
    .paddingRight-2--md {
        padding-right: .5rem !important;
    }
    
    .paddingRight-3--md {
        padding-right: .75rem !important;
    }
    
    .paddingRight-4--md {
        padding-right: 1rem !important;
    }
    
    .paddingRight-5--md {
        padding-right: 1.25rem !important;
    }
    
    .paddingRight-6--md {
        padding-right: 1.5rem !important;
    }
    
    .paddingRight-8--md {
        padding-right: 2rem !important;
    }
    
    .paddingRight-10--md {
        padding-right: 2.5rem !important;
    }
    
    .paddingRight-12--md {
        padding-right: 3rem !important;
    }
    
    .paddingRight-16--md {
        padding-right: 4rem !important;
    }
    
    .paddingRight-20--md {
        padding-right: 5rem !important;
    }
    
    .paddingRight-24--md {
        padding-right: 6rem !important;
    }
    
    .paddingRight-32--md {
        padding-right: 8rem !important;
    }
    
    .paddingRight-40--md {
        padding-right: 10rem !important;
    }
    
    .paddingRight-48--md {
        padding-right: 12rem !important;
    }
    
    .paddingRight-56--md {
        padding-right: 14rem !important;
    }
    
    .paddingRight-64--md {
        padding-right: 16rem !important;
    }
}

@media (min-width: 992px) {
    .paddingRight-0--lg {
        padding-right: 0 !important;
    }
    
    .paddingRight-1--lg {
        padding-right: .25rem !important;
    }
    
    .paddingRight-2--lg {
        padding-right: .5rem !important;
    }
    
    .paddingRight-3--lg {
        padding-right: .75rem !important;
    }
    
    .paddingRight-4--lg {
        padding-right: 1rem !important;
    }
    
    .paddingRight-5--lg {
        padding-right: 1.25rem !important;
    }
    
    .paddingRight-6--lg {
        padding-right: 1.5rem !important;
    }
    
    .paddingRight-8--lg {
        padding-right: 2rem !important;
    }
    
    .paddingRight-10--lg {
        padding-right: 2.5rem !important;
    }
    
    .paddingRight-12--lg {
        padding-right: 3rem !important;
    }
    
    .paddingRight-16--lg {
        padding-right: 4rem !important;
    }
    
    .paddingRight-20--lg {
        padding-right: 5rem !important;
    }
    
    .paddingRight-24--lg {
        padding-right: 6rem !important;
    }
    
    .paddingRight-32--lg {
        padding-right: 8rem !important;
    }
    
    .paddingRight-40--lg {
        padding-right: 10rem !important;
    }
    
    .paddingRight-48--lg {
        padding-right: 12rem !important;
    }
    
    .paddingRight-56--lg {
        padding-right: 14rem !important;
    }
    
    .paddingRight-64--lg {
        padding-right: 16rem !important;
    }
}

@media (min-width: 1200px) {
    .paddingRight-0--xl {
        padding-right: 0 !important;
    }
    
    .paddingRight-1--xl {
        padding-right: .25rem !important;
    }
    
    .paddingRight-2--xl {
        padding-right: .5rem !important;
    }
    
    .paddingRight-3--xl {
        padding-right: .75rem !important;
    }
    
    .paddingRight-4--xl {
        padding-right: 1rem !important;
    }
    
    .paddingRight-5--xl {
        padding-right: 1.25rem !important;
    }
    
    .paddingRight-6--xl {
        padding-right: 1.5rem !important;
    }
    
    .paddingRight-8--xl {
        padding-right: 2rem !important;
    }
    
    .paddingRight-10--xl {
        padding-right: 2.5rem !important;
    }
    
    .paddingRight-12--xl {
        padding-right: 3rem !important;
    }
    
    .paddingRight-16--xl {
        padding-right: 4rem !important;
    }
    
    .paddingRight-20--xl {
        padding-right: 5rem !important;
    }
    
    .paddingRight-24--xl {
        padding-right: 6rem !important;
    }
    
    .paddingRight-32--xl {
        padding-right: 8rem !important;
    }
    
    .paddingRight-40--xl {
        padding-right: 10rem !important;
    }
    
    .paddingRight-48--xl {
        padding-right: 12rem !important;
    }
    
    .paddingRight-56--xl {
        padding-right: 14rem !important;
    }
    
    .paddingRight-64--xl {
        padding-right: 16rem !important;
    }
}

.paddingBottom-0 {
    padding-bottom: 0 !important;
}

.paddingBottom-1 {
    padding-bottom: .25rem !important;
}

.paddingBottom-2 {
    padding-bottom: .5rem !important;
}

.paddingBottom-3 {
    padding-bottom: .75rem !important;
}

.paddingBottom-4 {
    padding-bottom: 1rem !important;
}

.paddingBottom-5 {
    padding-bottom: 1.25rem !important;
}

.paddingBottom-6 {
    padding-bottom: 1.5rem !important;
}

.paddingBottom-8 {
    padding-bottom: 2rem !important;
}

.paddingBottom-10 {
    padding-bottom: 2.5rem !important;
}

.paddingBottom-12 {
    padding-bottom: 3rem !important;
}

.paddingBottom-16 {
    padding-bottom: 4rem !important;
}

.paddingBottom-20 {
    padding-bottom: 5rem !important;
}

.paddingBottom-24 {
    padding-bottom: 6rem !important;
}

.paddingBottom-32 {
    padding-bottom: 8rem !important;
}

.paddingBottom-40 {
    padding-bottom: 10rem !important;
}

.paddingBottom-48 {
    padding-bottom: 12rem !important;
}

.paddingBottom-56 {
    padding-bottom: 14rem !important;
}

.paddingBottom-64 {
    padding-bottom: 16rem !important;
}

@media (min-width: 576px) {
    .paddingBottom-0--sm {
        padding-bottom: 0 !important;
    }
    
    .paddingBottom-1--sm {
        padding-bottom: .25rem !important;
    }
    
    .paddingBottom-2--sm {
        padding-bottom: .5rem !important;
    }
    
    .paddingBottom-3--sm {
        padding-bottom: .75rem !important;
    }
    
    .paddingBottom-4--sm {
        padding-bottom: 1rem !important;
    }
    
    .paddingBottom-5--sm {
        padding-bottom: 1.25rem !important;
    }
    
    .paddingBottom-6--sm {
        padding-bottom: 1.5rem !important;
    }
    
    .paddingBottom-8--sm {
        padding-bottom: 2rem !important;
    }
    
    .paddingBottom-10--sm {
        padding-bottom: 2.5rem !important;
    }
    
    .paddingBottom-12--sm {
        padding-bottom: 3rem !important;
    }
    
    .paddingBottom-16--sm {
        padding-bottom: 4rem !important;
    }
    
    .paddingBottom-20--sm {
        padding-bottom: 5rem !important;
    }
    
    .paddingBottom-24--sm {
        padding-bottom: 6rem !important;
    }
    
    .paddingBottom-32--sm {
        padding-bottom: 8rem !important;
    }
    
    .paddingBottom-40--sm {
        padding-bottom: 10rem !important;
    }
    
    .paddingBottom-48--sm {
        padding-bottom: 12rem !important;
    }
    
    .paddingBottom-56--sm {
        padding-bottom: 14rem !important;
    }
    
    .paddingBottom-64--sm {
        padding-bottom: 16rem !important;
    }
}

@media (min-width: 768px) {
    .paddingBottom-0--md {
        padding-bottom: 0 !important;
    }
    
    .paddingBottom-1--md {
        padding-bottom: .25rem !important;
    }
    
    .paddingBottom-2--md {
        padding-bottom: .5rem !important;
    }
    
    .paddingBottom-3--md {
        padding-bottom: .75rem !important;
    }
    
    .paddingBottom-4--md {
        padding-bottom: 1rem !important;
    }
    
    .paddingBottom-5--md {
        padding-bottom: 1.25rem !important;
    }
    
    .paddingBottom-6--md {
        padding-bottom: 1.5rem !important;
    }
    
    .paddingBottom-8--md {
        padding-bottom: 2rem !important;
    }
    
    .paddingBottom-10--md {
        padding-bottom: 2.5rem !important;
    }
    
    .paddingBottom-12--md {
        padding-bottom: 3rem !important;
    }
    
    .paddingBottom-16--md {
        padding-bottom: 4rem !important;
    }
    
    .paddingBottom-20--md {
        padding-bottom: 5rem !important;
    }
    
    .paddingBottom-24--md {
        padding-bottom: 6rem !important;
    }
    
    .paddingBottom-32--md {
        padding-bottom: 8rem !important;
    }
    
    .paddingBottom-40--md {
        padding-bottom: 10rem !important;
    }
    
    .paddingBottom-48--md {
        padding-bottom: 12rem !important;
    }
    
    .paddingBottom-56--md {
        padding-bottom: 14rem !important;
    }
    
    .paddingBottom-64--md {
        padding-bottom: 16rem !important;
    }
}

@media (min-width: 992px) {
    .paddingBottom-0--lg {
        padding-bottom: 0 !important;
    }
    
    .paddingBottom-1--lg {
        padding-bottom: .25rem !important;
    }
    
    .paddingBottom-2--lg {
        padding-bottom: .5rem !important;
    }
    
    .paddingBottom-3--lg {
        padding-bottom: .75rem !important;
    }
    
    .paddingBottom-4--lg {
        padding-bottom: 1rem !important;
    }
    
    .paddingBottom-5--lg {
        padding-bottom: 1.25rem !important;
    }
    
    .paddingBottom-6--lg {
        padding-bottom: 1.5rem !important;
    }
    
    .paddingBottom-8--lg {
        padding-bottom: 2rem !important;
    }
    
    .paddingBottom-10--lg {
        padding-bottom: 2.5rem !important;
    }
    
    .paddingBottom-12--lg {
        padding-bottom: 3rem !important;
    }
    
    .paddingBottom-16--lg {
        padding-bottom: 4rem !important;
    }
    
    .paddingBottom-20--lg {
        padding-bottom: 5rem !important;
    }
    
    .paddingBottom-24--lg {
        padding-bottom: 6rem !important;
    }
    
    .paddingBottom-32--lg {
        padding-bottom: 8rem !important;
    }
    
    .paddingBottom-40--lg {
        padding-bottom: 10rem !important;
    }
    
    .paddingBottom-48--lg {
        padding-bottom: 12rem !important;
    }
    
    .paddingBottom-56--lg {
        padding-bottom: 14rem !important;
    }
    
    .paddingBottom-64--lg {
        padding-bottom: 16rem !important;
    }
}

@media (min-width: 1200px) {
    .paddingBottom-0--xl {
        padding-bottom: 0 !important;
    }
    
    .paddingBottom-1--xl {
        padding-bottom: .25rem !important;
    }
    
    .paddingBottom-2--xl {
        padding-bottom: .5rem !important;
    }
    
    .paddingBottom-3--xl {
        padding-bottom: .75rem !important;
    }
    
    .paddingBottom-4--xl {
        padding-bottom: 1rem !important;
    }
    
    .paddingBottom-5--xl {
        padding-bottom: 1.25rem !important;
    }
    
    .paddingBottom-6--xl {
        padding-bottom: 1.5rem !important;
    }
    
    .paddingBottom-8--xl {
        padding-bottom: 2rem !important;
    }
    
    .paddingBottom-10--xl {
        padding-bottom: 2.5rem !important;
    }
    
    .paddingBottom-12--xl {
        padding-bottom: 3rem !important;
    }
    
    .paddingBottom-16--xl {
        padding-bottom: 4rem !important;
    }
    
    .paddingBottom-20--xl {
        padding-bottom: 5rem !important;
    }
    
    .paddingBottom-24--xl {
        padding-bottom: 6rem !important;
    }
    
    .paddingBottom-32--xl {
        padding-bottom: 8rem !important;
    }
    
    .paddingBottom-40--xl {
        padding-bottom: 10rem !important;
    }
    
    .paddingBottom-48--xl {
        padding-bottom: 12rem !important;
    }
    
    .paddingBottom-56--xl {
        padding-bottom: 14rem !important;
    }
    
    .paddingBottom-64--xl {
        padding-bottom: 16rem !important;
    }
}

.paddingLeft-0 {
    padding-left: 0 !important;
}

.paddingLeft-1 {
    padding-left: .25rem !important;
}

.paddingLeft-2 {
    padding-left: .5rem !important;
}

.paddingLeft-3 {
    padding-left: .75rem !important;
}

.paddingLeft-4 {
    padding-left: 1rem !important;
}

.paddingLeft-5 {
    padding-left: 1.25rem !important;
}

.paddingLeft-6 {
    padding-left: 1.5rem !important;
}

.paddingLeft-8 {
    padding-left: 2rem !important;
}

.paddingLeft-10 {
    padding-left: 2.5rem !important;
}

.paddingLeft-12 {
    padding-left: 3rem !important;
}

.paddingLeft-16 {
    padding-left: 4rem !important;
}

.paddingLeft-20 {
    padding-left: 5rem !important;
}

.paddingLeft-24 {
    padding-left: 6rem !important;
}

.paddingLeft-32 {
    padding-left: 8rem !important;
}

.paddingLeft-40 {
    padding-left: 10rem !important;
}

.paddingLeft-48 {
    padding-left: 12rem !important;
}

.paddingLeft-56 {
    padding-left: 14rem !important;
}

.paddingLeft-64 {
    padding-left: 16rem !important;
}

@media (min-width: 576px) {
    .paddingLeft-0--sm {
        padding-left: 0 !important;
    }
    
    .paddingLeft-1--sm {
        padding-left: .25rem !important;
    }
    
    .paddingLeft-2--sm {
        padding-left: .5rem !important;
    }
    
    .paddingLeft-3--sm {
        padding-left: .75rem !important;
    }
    
    .paddingLeft-4--sm {
        padding-left: 1rem !important;
    }
    
    .paddingLeft-5--sm {
        padding-left: 1.25rem !important;
    }
    
    .paddingLeft-6--sm {
        padding-left: 1.5rem !important;
    }
    
    .paddingLeft-8--sm {
        padding-left: 2rem !important;
    }
    
    .paddingLeft-10--sm {
        padding-left: 2.5rem !important;
    }
    
    .paddingLeft-12--sm {
        padding-left: 3rem !important;
    }
    
    .paddingLeft-16--sm {
        padding-left: 4rem !important;
    }
    
    .paddingLeft-20--sm {
        padding-left: 5rem !important;
    }
    
    .paddingLeft-24--sm {
        padding-left: 6rem !important;
    }
    
    .paddingLeft-32--sm {
        padding-left: 8rem !important;
    }
    
    .paddingLeft-40--sm {
        padding-left: 10rem !important;
    }
    
    .paddingLeft-48--sm {
        padding-left: 12rem !important;
    }
    
    .paddingLeft-56--sm {
        padding-left: 14rem !important;
    }
    
    .paddingLeft-64--sm {
        padding-left: 16rem !important;
    }
}

@media (min-width: 768px) {
    .paddingLeft-0--md {
        padding-left: 0 !important;
    }
    
    .paddingLeft-1--md {
        padding-left: .25rem !important;
    }
    
    .paddingLeft-2--md {
        padding-left: .5rem !important;
    }
    
    .paddingLeft-3--md {
        padding-left: .75rem !important;
    }
    
    .paddingLeft-4--md {
        padding-left: 1rem !important;
    }
    
    .paddingLeft-5--md {
        padding-left: 1.25rem !important;
    }
    
    .paddingLeft-6--md {
        padding-left: 1.5rem !important;
    }
    
    .paddingLeft-8--md {
        padding-left: 2rem !important;
    }
    
    .paddingLeft-10--md {
        padding-left: 2.5rem !important;
    }
    
    .paddingLeft-12--md {
        padding-left: 3rem !important;
    }
    
    .paddingLeft-16--md {
        padding-left: 4rem !important;
    }
    
    .paddingLeft-20--md {
        padding-left: 5rem !important;
    }
    
    .paddingLeft-24--md {
        padding-left: 6rem !important;
    }
    
    .paddingLeft-32--md {
        padding-left: 8rem !important;
    }
    
    .paddingLeft-40--md {
        padding-left: 10rem !important;
    }
    
    .paddingLeft-48--md {
        padding-left: 12rem !important;
    }
    
    .paddingLeft-56--md {
        padding-left: 14rem !important;
    }
    
    .paddingLeft-64--md {
        padding-left: 16rem !important;
    }
}

@media (min-width: 992px) {
    .paddingLeft-0--lg {
        padding-left: 0 !important;
    }
    
    .paddingLeft-1--lg {
        padding-left: .25rem !important;
    }
    
    .paddingLeft-2--lg {
        padding-left: .5rem !important;
    }
    
    .paddingLeft-3--lg {
        padding-left: .75rem !important;
    }
    
    .paddingLeft-4--lg {
        padding-left: 1rem !important;
    }
    
    .paddingLeft-5--lg {
        padding-left: 1.25rem !important;
    }
    
    .paddingLeft-6--lg {
        padding-left: 1.5rem !important;
    }
    
    .paddingLeft-8--lg {
        padding-left: 2rem !important;
    }
    
    .paddingLeft-10--lg {
        padding-left: 2.5rem !important;
    }
    
    .paddingLeft-12--lg {
        padding-left: 3rem !important;
    }
    
    .paddingLeft-16--lg {
        padding-left: 4rem !important;
    }
    
    .paddingLeft-20--lg {
        padding-left: 5rem !important;
    }
    
    .paddingLeft-24--lg {
        padding-left: 6rem !important;
    }
    
    .paddingLeft-32--lg {
        padding-left: 8rem !important;
    }
    
    .paddingLeft-40--lg {
        padding-left: 10rem !important;
    }
    
    .paddingLeft-48--lg {
        padding-left: 12rem !important;
    }
    
    .paddingLeft-56--lg {
        padding-left: 14rem !important;
    }
    
    .paddingLeft-64--lg {
        padding-left: 16rem !important;
    }
}

@media (min-width: 1200px) {
    .paddingLeft-0--xl {
        padding-left: 0 !important;
    }
    
    .paddingLeft-1--xl {
        padding-left: .25rem !important;
    }
    
    .paddingLeft-2--xl {
        padding-left: .5rem !important;
    }
    
    .paddingLeft-3--xl {
        padding-left: .75rem !important;
    }
    
    .paddingLeft-4--xl {
        padding-left: 1rem !important;
    }
    
    .paddingLeft-5--xl {
        padding-left: 1.25rem !important;
    }
    
    .paddingLeft-6--xl {
        padding-left: 1.5rem !important;
    }
    
    .paddingLeft-8--xl {
        padding-left: 2rem !important;
    }
    
    .paddingLeft-10--xl {
        padding-left: 2.5rem !important;
    }
    
    .paddingLeft-12--xl {
        padding-left: 3rem !important;
    }
    
    .paddingLeft-16--xl {
        padding-left: 4rem !important;
    }
    
    .paddingLeft-20--xl {
        padding-left: 5rem !important;
    }
    
    .paddingLeft-24--xl {
        padding-left: 6rem !important;
    }
    
    .paddingLeft-32--xl {
        padding-left: 8rem !important;
    }
    
    .paddingLeft-40--xl {
        padding-left: 10rem !important;
    }
    
    .paddingLeft-48--xl {
        padding-left: 12rem !important;
    }
    
    .paddingLeft-56--xl {
        padding-left: 14rem !important;
    }
    
    .paddingLeft-64--xl {
        padding-left: 16rem !important;
    }
}