
.textAlign-left {
    text-align: left !important;
}

.textAlign-right {
    text-align: right !important;
}

.textAlign-center {
    text-align: center !important;
}

.textAlign-justify {
    text-align: justify !important;
}

@media (min-width: 576px) {
    .textAlign-left--sm {
        text-align: left !important;
    }

    .textAlign-right--sm {
        text-align: right !important;
    }

    .textAlign-center--sm {
        text-align: center !important;
    }

    .textAlign-justify--sm {
        text-align: justify !important;
    }
}

@media (min-width: 768px) {
    .textAlign-left--md {
        text-align: left !important;
    }

    .textAlign-right--md {
        text-align: right !important;
    }

    .textAlign-center--md {
        text-align: center !important;
    }

    .textAlign-justify--md {
        text-align: justify !important;
    }
}

@media (min-width: 992px) {
    .textAlign-left--lg {
        text-align: left !important;
    }

    .textAlign-right--lg {
        text-align: right !important;
    }

    .textAlign-center--lg {
        text-align: center !important;
    }

    .textAlign-justify--lg {
        text-align: justify !important;
    }
}

@media (min-width: 1200px) {
    .textAlign-left--xl {
        text-align: left !important;
    }

    .textAlign-right--xl {
        text-align: right !important;
    }

    .textAlign-center--xl {
        text-align: center !important;
    }

    .textAlign-justify--xl {
        text-align: justify !important;
    }
}