
.margin-0 {
    margin: 0 !important;
}

.margin-1 {
    margin: .25rem !important;
}

.margin-2 {
    margin: .5rem !important;
}

.margin-3 {
    margin: .75rem !important;
}

.margin-4 {
    margin: 1rem !important;
}

.margin-5 {
    margin: 1.25rem !important;
}

.margin-6 {
    margin: 1.5rem !important;
}

.margin-8 {
    margin: 2rem !important;
}

.margin-10 {
    margin: 2.5rem !important;
}

.margin-12 {
    margin: 3rem !important;
}

.margin-16 {
    margin: 4rem !important;
}

.margin-20 {
    margin: 5rem !important;
}

.margin-24 {
    margin: 6rem !important;
}

.margin-32 {
    margin: 8rem !important;
}

.margin-40 {
    margin: 10rem !important;
}

.margin-48 {
    margin: 12rem !important;
}

.margin-56 {
    margin: 14rem !important;
}

.margin-64 {
    margin: 16rem !important;
}

@media (min-width: 576px) {
    .margin-0--sm {
        margin: 0 !important;
    }
    
    .margin-1--sm {
        margin: .25rem !important;
    }
    
    .margin-2--sm {
        margin: .5rem !important;
    }
    
    .margin-3--sm {
        margin: .75rem !important;
    }
    
    .margin-4--sm {
        margin: 1rem !important;
    }
    
    .margin-5--sm {
        margin: 1.25rem !important;
    }
    
    .margin-6--sm {
        margin: 1.5rem !important;
    }
    
    .margin-8--sm {
        margin: 2rem !important;
    }
    
    .margin-10--sm {
        margin: 2.5rem !important;
    }
    
    .margin-12--sm {
        margin: 3rem !important;
    }
    
    .margin-16--sm {
        margin: 4rem !important;
    }
    
    .margin-20--sm {
        margin: 5rem !important;
    }
    
    .margin-24--sm {
        margin: 6rem !important;
    }
    
    .margin-32--sm {
        margin: 8rem !important;
    }
    
    .margin-40--sm {
        margin: 10rem !important;
    }
    
    .margin-48--sm {
        margin: 12rem !important;
    }
    
    .margin-56--sm {
        margin: 14rem !important;
    }
    
    .margin-64--sm {
        margin: 16rem !important;
    }
}

@media (min-width: 768px) {
    .margin-0--md {
        margin: 0 !important;
    }
    
    .margin-1--md {
        margin: .25rem !important;
    }
    
    .margin-2--md {
        margin: .5rem !important;
    }
    
    .margin-3--md {
        margin: .75rem !important;
    }
    
    .margin-4--md {
        margin: 1rem !important;
    }
    
    .margin-5--md {
        margin: 1.25rem !important;
    }
    
    .margin-6--md {
        margin: 1.5rem !important;
    }
    
    .margin-8--md {
        margin: 2rem !important;
    }
    
    .margin-10--md {
        margin: 2.5rem !important;
    }
    
    .margin-12--md {
        margin: 3rem !important;
    }
    
    .margin-16--md {
        margin: 4rem !important;
    }
    
    .margin-20--md {
        margin: 5rem !important;
    }
    
    .margin-24--md {
        margin: 6rem !important;
    }
    
    .margin-32--md {
        margin: 8rem !important;
    }
    
    .margin-40--md {
        margin: 10rem !important;
    }
    
    .margin-48--md {
        margin: 12rem !important;
    }
    
    .margin-56--md {
        margin: 14rem !important;
    }
    
    .margin-64--md {
        margin: 16rem !important;
    }
}

@media (min-width: 992px) {
    .margin-0--lg {
        margin: 0 !important;
    }
    
    .margin-1--lg {
        margin: .25rem !important;
    }
    
    .margin-2--lg {
        margin: .5rem !important;
    }
    
    .margin-3--lg {
        margin: .75rem !important;
    }
    
    .margin-4--lg {
        margin: 1rem !important;
    }
    
    .margin-5--lg {
        margin: 1.25rem !important;
    }
    
    .margin-6--lg {
        margin: 1.5rem !important;
    }
    
    .margin-8--lg {
        margin: 2rem !important;
    }
    
    .margin-10--lg {
        margin: 2.5rem !important;
    }
    
    .margin-12--lg {
        margin: 3rem !important;
    }
    
    .margin-16--lg {
        margin: 4rem !important;
    }
    
    .margin-20--lg {
        margin: 5rem !important;
    }
    
    .margin-24--lg {
        margin: 6rem !important;
    }
    
    .margin-32--lg {
        margin: 8rem !important;
    }
    
    .margin-40--lg {
        margin: 10rem !important;
    }
    
    .margin-48--lg {
        margin: 12rem !important;
    }
    
    .margin-56--lg {
        margin: 14rem !important;
    }
    
    .margin-64--lg {
        margin: 16rem !important;
    }
}

@media (min-width: 1200px) {
    .margin-0--xl {
        margin: 0 !important;
    }
    
    .margin-1--xl {
        margin: .25rem !important;
    }
    
    .margin-2--xl {
        margin: .5rem !important;
    }
    
    .margin-3--xl {
        margin: .75rem !important;
    }
    
    .margin-4--xl {
        margin: 1rem !important;
    }
    
    .margin-5--xl {
        margin: 1.25rem !important;
    }
    
    .margin-6--xl {
        margin: 1.5rem !important;
    }
    
    .margin-8--xl {
        margin: 2rem !important;
    }
    
    .margin-10--xl {
        margin: 2.5rem !important;
    }
    
    .margin-12--xl {
        margin: 3rem !important;
    }
    
    .margin-16--xl {
        margin: 4rem !important;
    }
    
    .margin-20--xl {
        margin: 5rem !important;
    }
    
    .margin-24--xl {
        margin: 6rem !important;
    }
    
    .margin-32--xl {
        margin: 8rem !important;
    }
    
    .margin-40--xl {
        margin: 10rem !important;
    }
    
    .margin-48--xl {
        margin: 12rem !important;
    }
    
    .margin-56--xl {
        margin: 14rem !important;
    }
    
    .margin-64--xl {
        margin: 16rem !important;
    }
}

.marginX-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.marginX-1 {
    margin-left: .25rem !important;
    margin-right: .25rem !important;
}

.marginX-2 {
    margin-left: .5rem !important;
    margin-right: .5rem !important;
}

.marginX-3 {
    margin-left: .75rem !important;
    margin-right: .75rem !important;
}

.marginX-4 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.marginX-5 {
    margin-left: 1.25rem !important;
    margin-right: 1.25rem !important;
}

.marginX-6 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}

.marginX-8 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

.marginX-10 {
    margin-left: 2.5rem !important;
    margin-right: 2.5rem !important;
}

.marginX-12 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}

.marginX-16 {
    margin-left: 4rem !important;
    margin-right: 4rem !important;
}

.marginX-20 {
    margin-left: 5rem !important;
    margin-right: 5rem !important;
}

.marginX-24 {
    margin-left: 6rem !important;
    margin-right: 6rem !important;
}

.marginX-32 {
    margin-left: 8rem !important;
    margin-right: 8rem !important;
}

.marginX-40 {
    margin-left: 10rem !important;
    margin-right: 10rem !important;
}

.marginX-48 {
    margin-left: 12rem !important;
    margin-right: 12rem !important;
}

.marginX-56 {
    margin-left: 14rem !important;
    margin-right: 14rem !important;
}

.marginX-64 {
    margin-left: 16rem !important;
    margin-right: 16rem !important;
}

@media (min-width: 576px) {
    .marginX-0--sm {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    .marginX-1--sm {
        margin-left: .25rem !important;
        margin-right: .25rem !important;
    }
    
    .marginX-2--sm {
        margin-left: .5rem !important;
        margin-right: .5rem !important;
    }
    
    .marginX-3--sm {
        margin-left: .75rem !important;
        margin-right: .75rem !important;
    }
    
    .marginX-4--sm {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
    
    .marginX-5--sm {
        margin-left: 1.25rem !important;
        margin-right: 1.25rem !important;
    }
    
    .marginX-6--sm {
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
    }
    
    .marginX-8--sm {
        margin-left: 2rem !important;
        margin-right: 2rem !important;
    }
    
    .marginX-10--sm {
        margin-left: 2.5rem !important;
        margin-right: 2.5rem !important;
    }
    
    .marginX-12--sm {
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }
    
    .marginX-16--sm {
        margin-left: 4rem !important;
        margin-right: 4rem !important;
    }
    
    .marginX-20--sm {
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }
    
    .marginX-24--sm {
        margin-left: 6rem !important;
        margin-right: 6rem !important;
    }
    
    .marginX-32--sm {
        margin-left: 8rem !important;
        margin-right: 8rem !important;
    }
    
    .marginX-40--sm {
        margin-left: 10rem !important;
        margin-right: 10rem !important;
    }
    
    .marginX-48--sm {
        margin-left: 12rem !important;
        margin-right: 12rem !important;
    }
    
    .marginX-56--sm {
        margin-left: 14rem !important;
        margin-right: 14rem !important;
    }
    
    .marginX-64--sm {
        margin-left: 16rem !important;
        margin-right: 16rem !important;
    }
}

@media (min-width: 768px) {
    .marginX-0--md {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    .marginX-1--md {
        margin-left: .25rem !important;
        margin-right: .25rem !important;
    }
    
    .marginX-2--md {
        margin-left: .5rem !important;
        margin-right: .5rem !important;
    }
    
    .marginX-3--md {
        margin-left: .75rem !important;
        margin-right: .75rem !important;
    }
    
    .marginX-4--md {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
    
    .marginX-5--md {
        margin-left: 1.25rem !important;
        margin-right: 1.25rem !important;
    }
    
    .marginX-6--md {
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
    }
    
    .marginX-8--md {
        margin-left: 2rem !important;
        margin-right: 2rem !important;
    }
    
    .marginX-10--md {
        margin-left: 2.5rem !important;
        margin-right: 2.5rem !important;
    }
    
    .marginX-12--md {
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }
    
    .marginX-16--md {
        margin-left: 4rem !important;
        margin-right: 4rem !important;
    }
    
    .marginX-20--md {
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }
    
    .marginX-24--md {
        margin-left: 6rem !important;
        margin-right: 6rem !important;
    }
    
    .marginX-32--md {
        margin-left: 8rem !important;
        margin-right: 8rem !important;
    }
    
    .marginX-40--md {
        margin-left: 10rem !important;
        margin-right: 10rem !important;
    }
    
    .marginX-48--md {
        margin-left: 12rem !important;
        margin-right: 12rem !important;
    }
    
    .marginX-56--md {
        margin-left: 14rem !important;
        margin-right: 14rem !important;
    }
    
    .marginX-64--md {
        margin-left: 16rem !important;
        margin-right: 16rem !important;
    }
}

@media (min-width: 992px) {
    .marginX-0--lg {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    .marginX-1--lg {
        margin-left: .25rem !important;
        margin-right: .25rem !important;
    }
    
    .marginX-2--lg {
        margin-left: .5rem !important;
        margin-right: .5rem !important;
    }
    
    .marginX-3--lg {
        margin-left: .75rem !important;
        margin-right: .75rem !important;
    }
    
    .marginX-4--lg {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
    
    .marginX-5--lg {
        margin-left: 1.25rem !important;
        margin-right: 1.25rem !important;
    }
    
    .marginX-6--lg {
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
    }
    
    .marginX-8--lg {
        margin-left: 2rem !important;
        margin-right: 2rem !important;
    }
    
    .marginX-10--lg {
        margin-left: 2.5rem !important;
        margin-right: 2.5rem !important;
    }
    
    .marginX-12--lg {
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }
    
    .marginX-16--lg {
        margin-left: 4rem !important;
        margin-right: 4rem !important;
    }
    
    .marginX-20--lg {
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }
    
    .marginX-24--lg {
        margin-left: 6rem !important;
        margin-right: 6rem !important;
    }
    
    .marginX-32--lg {
        margin-left: 8rem !important;
        margin-right: 8rem !important;
    }
    
    .marginX-40--lg {
        margin-left: 10rem !important;
        margin-right: 10rem !important;
    }
    
    .marginX-48--lg {
        margin-left: 12rem !important;
        margin-right: 12rem !important;
    }
    
    .marginX-56--lg {
        margin-left: 14rem !important;
        margin-right: 14rem !important;
    }
    
    .marginX-64--lg {
        margin-left: 16rem !important;
        margin-right: 16rem !important;
    }
}

@media (min-width: 1200px) {
    .marginX-0--xl {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    .marginX-1--xl {
        margin-left: .25rem !important;
        margin-right: .25rem !important;
    }
    
    .marginX-2--xl {
        margin-left: .5rem !important;
        margin-right: .5rem !important;
    }
    
    .marginX-3--xl {
        margin-left: .75rem !important;
        margin-right: .75rem !important;
    }
    
    .marginX-4--xl {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
    
    .marginX-5--xl {
        margin-left: 1.25rem !important;
        margin-right: 1.25rem !important;
    }
    
    .marginX-6--xl {
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
    }
    
    .marginX-8--xl {
        margin-left: 2rem !important;
        margin-right: 2rem !important;
    }
    
    .marginX-10--xl {
        margin-left: 2.5rem !important;
        margin-right: 2.5rem !important;
    }
    
    .marginX-12--xl {
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }
    
    .marginX-16--xl {
        margin-left: 4rem !important;
        margin-right: 4rem !important;
    }
    
    .marginX-20--xl {
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }
    
    .marginX-24--xl {
        margin-left: 6rem !important;
        margin-right: 6rem !important;
    }
    
    .marginX-32--xl {
        margin-left: 8rem !important;
        margin-right: 8rem !important;
    }
    
    .marginX-40--xl {
        margin-left: 10rem !important;
        margin-right: 10rem !important;
    }
    
    .marginX-48--xl {
        margin-left: 12rem !important;
        margin-right: 12rem !important;
    }
    
    .marginX-56--xl {
        margin-left: 14rem !important;
        margin-right: 14rem !important;
    }
    
    .marginX-64--xl {
        margin-left: 16rem !important;
        margin-right: 16rem !important;
    }
}

.marginY-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.marginY-1 {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important;
}

.marginY-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.marginY-3 {
    margin-top: .75rem !important;
    margin-bottom: .75rem !important;
}

.marginY-4 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.marginY-5 {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
}

.marginY-6 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.marginY-8 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.marginY-10 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
}

.marginY-12 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.marginY-16 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}

.marginY-20 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.marginY-24 {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
}

.marginY-32 {
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;
}

.marginY-40 {
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
}

.marginY-48 {
    margin-top: 12rem !important;
    margin-bottom: 12rem !important;
}

.marginY-56 {
    margin-top: 14rem !important;
    margin-bottom: 14rem !important;
}

.marginY-64 {
    margin-top: 16rem !important;
    margin-bottom: 16rem !important;
}

@media (min-width: 576px) {
    .marginY-0--sm {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    
    .marginY-1--sm {
        margin-top: .25rem !important;
        margin-bottom: .25rem !important;
    }
    
    .marginY-2--sm {
        margin-top: .5rem !important;
        margin-bottom: .5rem !important;
    }
    
    .marginY-3--sm {
        margin-top: .75rem !important;
        margin-bottom: .75rem !important;
    }
    
    .marginY-4--sm {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    
    .marginY-5--sm {
        margin-top: 1.25rem !important;
        margin-bottom: 1.25rem !important;
    }
    
    .marginY-6--sm {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    
    .marginY-8--sm {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }
    
    .marginY-10--sm {
        margin-top: 2.5rem !important;
        margin-bottom: 2.5rem !important;
    }
    
    .marginY-12--sm {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    
    .marginY-16--sm {
        margin-top: 4rem !important;
        margin-bottom: 4rem !important;
    }
    
    .marginY-20--sm {
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }
    
    .marginY-24--sm {
        margin-top: 6rem !important;
        margin-bottom: 6rem !important;
    }
    
    .marginY-32--sm {
        margin-top: 8rem !important;
        margin-bottom: 8rem !important;
    }
    
    .marginY-40--sm {
        margin-top: 10rem !important;
        margin-bottom: 10rem !important;
    }
    
    .marginY-48--sm {
        margin-top: 12rem !important;
        margin-bottom: 12rem !important;
    }
    
    .marginY-56--sm {
        margin-top: 14rem !important;
        margin-bottom: 14rem !important;
    }
    
    .marginY-64--sm {
        margin-top: 16rem !important;
        margin-bottom: 16rem !important;
    }
}

@media (min-width: 768px) {
    .marginY-0--md {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    
    .marginY-1--md {
        margin-top: .25rem !important;
        margin-bottom: .25rem !important;
    }
    
    .marginY-2--md {
        margin-top: .5rem !important;
        margin-bottom: .5rem !important;
    }
    
    .marginY-3--md {
        margin-top: .75rem !important;
        margin-bottom: .75rem !important;
    }
    
    .marginY-4--md {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    
    .marginY-5--md {
        margin-top: 1.25rem !important;
        margin-bottom: 1.25rem !important;
    }
    
    .marginY-6--md {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    
    .marginY-8--md {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }
    
    .marginY-10--md {
        margin-top: 2.5rem !important;
        margin-bottom: 2.5rem !important;
    }
    
    .marginY-12--md {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    
    .marginY-16--md {
        margin-top: 4rem !important;
        margin-bottom: 4rem !important;
    }
    
    .marginY-20--md {
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }
    
    .marginY-24--md {
        margin-top: 6rem !important;
        margin-bottom: 6rem !important;
    }
    
    .marginY-32--md {
        margin-top: 8rem !important;
        margin-bottom: 8rem !important;
    }
    
    .marginY-40--md {
        margin-top: 10rem !important;
        margin-bottom: 10rem !important;
    }
    
    .marginY-48--md {
        margin-top: 12rem !important;
        margin-bottom: 12rem !important;
    }
    
    .marginY-56--md {
        margin-top: 14rem !important;
        margin-bottom: 14rem !important;
    }
    
    .marginY-64--md {
        margin-top: 16rem !important;
        margin-bottom: 16rem !important;
    }
}

@media (min-width: 992px) {
    .marginY-0--lg {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    
    .marginY-1--lg {
        margin-top: .25rem !important;
        margin-bottom: .25rem !important;
    }
    
    .marginY-2--lg {
        margin-top: .5rem !important;
        margin-bottom: .5rem !important;
    }
    
    .marginY-3--lg {
        margin-top: .75rem !important;
        margin-bottom: .75rem !important;
    }
    
    .marginY-4--lg {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    
    .marginY-5--lg {
        margin-top: 1.25rem !important;
        margin-bottom: 1.25rem !important;
    }
    
    .marginY-6--lg {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    
    .marginY-8--lg {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }
    
    .marginY-10--lg {
        margin-top: 2.5rem !important;
        margin-bottom: 2.5rem !important;
    }
    
    .marginY-12--lg {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    
    .marginY-16--lg {
        margin-top: 4rem !important;
        margin-bottom: 4rem !important;
    }
    
    .marginY-20--lg {
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }
    
    .marginY-24--lg {
        margin-top: 6rem !important;
        margin-bottom: 6rem !important;
    }
    
    .marginY-32--lg {
        margin-top: 8rem !important;
        margin-bottom: 8rem !important;
    }
    
    .marginY-40--lg {
        margin-top: 10rem !important;
        margin-bottom: 10rem !important;
    }
    
    .marginY-48--lg {
        margin-top: 12rem !important;
        margin-bottom: 12rem !important;
    }
    
    .marginY-56--lg {
        margin-top: 14rem !important;
        margin-bottom: 14rem !important;
    }
    
    .marginY-64--lg {
        margin-top: 16rem !important;
        margin-bottom: 16rem !important;
    }
}

@media (min-width: 1200px) {
    .marginY-0--xl {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    
    .marginY-1--xl {
        margin-top: .25rem !important;
        margin-bottom: .25rem !important;
    }
    
    .marginY-2--xl {
        margin-top: .5rem !important;
        margin-bottom: .5rem !important;
    }
    
    .marginY-3--xl {
        margin-top: .75rem !important;
        margin-bottom: .75rem !important;
    }
    
    .marginY-4--xl {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    
    .marginY-5--xl {
        margin-top: 1.25rem !important;
        margin-bottom: 1.25rem !important;
    }
    
    .marginY-6--xl {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    
    .marginY-8--xl {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }
    
    .marginY-10--xl {
        margin-top: 2.5rem !important;
        margin-bottom: 2.5rem !important;
    }
    
    .marginY-12--xl {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    
    .marginY-16--xl {
        margin-top: 4rem !important;
        margin-bottom: 4rem !important;
    }
    
    .marginY-20--xl {
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }
    
    .marginY-24--xl {
        margin-top: 6rem !important;
        margin-bottom: 6rem !important;
    }
    
    .marginY-32--xl {
        margin-top: 8rem !important;
        margin-bottom: 8rem !important;
    }
    
    .marginY-40--xl {
        margin-top: 10rem !important;
        margin-bottom: 10rem !important;
    }
    
    .marginY-48--xl {
        margin-top: 12rem !important;
        margin-bottom: 12rem !important;
    }
    
    .marginY-56--xl {
        margin-top: 14rem !important;
        margin-bottom: 14rem !important;
    }
    
    .marginY-64--xl {
        margin-top: 16rem !important;
        margin-bottom: 16rem !important;
    }
}

.marginTop-0 {
    margin-top: 0 !important;
}

.marginTop-1 {
    margin-top: .25rem !important;
}

.marginTop-2 {
    margin-top: .5rem !important;
}

.marginTop-3 {
    margin-top: .75rem !important;
}

.marginTop-4 {
    margin-top: 1rem !important;
}

.marginTop-5 {
    margin-top: 1.25rem !important;
}

.marginTop-6 {
    margin-top: 1.5rem !important;
}

.marginTop-8 {
    margin-top: 2rem !important;
}

.marginTop-10 {
    margin-top: 2.5rem !important;
}

.marginTop-12 {
    margin-top: 3rem !important;
}

.marginTop-16 {
    margin-top: 4rem !important;
}

.marginTop-20 {
    margin-top: 5rem !important;
}

.marginTop-24 {
    margin-top: 6rem !important;
}

.marginTop-32 {
    margin-top: 8rem !important;
}

.marginTop-40 {
    margin-top: 10rem !important;
}

.marginTop-48 {
    margin-top: 12rem !important;
}

.marginTop-56 {
    margin-top: 14rem !important;
}

.marginTop-64 {
    margin-top: 16rem !important;
}

@media (min-width: 576px) {
    .marginTop-0--sm {
        margin-top: 0 !important;
    }
    
    .marginTop-1--sm {
        margin-top: .25rem !important;
    }
    
    .marginTop-2--sm {
        margin-top: .5rem !important;
    }
    
    .marginTop-3--sm {
        margin-top: .75rem !important;
    }
    
    .marginTop-4--sm {
        margin-top: 1rem !important;
    }
    
    .marginTop-5--sm {
        margin-top: 1.25rem !important;
    }
    
    .marginTop-6--sm {
        margin-top: 1.5rem !important;
    }
    
    .marginTop-8--sm {
        margin-top: 2rem !important;
    }
    
    .marginTop-10--sm {
        margin-top: 2.5rem !important;
    }
    
    .marginTop-12--sm {
        margin-top: 3rem !important;
    }
    
    .marginTop-16--sm {
        margin-top: 4rem !important;
    }
    
    .marginTop-20--sm {
        margin-top: 5rem !important;
    }
    
    .marginTop-24--sm {
        margin-top: 6rem !important;
    }
    
    .marginTop-32--sm {
        margin-top: 8rem !important;
    }
    
    .marginTop-40--sm {
        margin-top: 10rem !important;
    }
    
    .marginTop-48--sm {
        margin-top: 12rem !important;
    }
    
    .marginTop-56--sm {
        margin-top: 14rem !important;
    }
    
    .marginTop-64--sm {
        margin-top: 16rem !important;
    }
}

@media (min-width: 768px) {
    .marginTop-0--md {
        margin-top: 0 !important;
    }
    
    .marginTop-1--md {
        margin-top: .25rem !important;
    }
    
    .marginTop-2--md {
        margin-top: .5rem !important;
    }
    
    .marginTop-3--md {
        margin-top: .75rem !important;
    }
    
    .marginTop-4--md {
        margin-top: 1rem !important;
    }
    
    .marginTop-5--md {
        margin-top: 1.25rem !important;
    }
    
    .marginTop-6--md {
        margin-top: 1.5rem !important;
    }
    
    .marginTop-8--md {
        margin-top: 2rem !important;
    }
    
    .marginTop-10--md {
        margin-top: 2.5rem !important;
    }
    
    .marginTop-12--md {
        margin-top: 3rem !important;
    }
    
    .marginTop-16--md {
        margin-top: 4rem !important;
    }
    
    .marginTop-20--md {
        margin-top: 5rem !important;
    }
    
    .marginTop-24--md {
        margin-top: 6rem !important;
    }
    
    .marginTop-32--md {
        margin-top: 8rem !important;
    }
    
    .marginTop-40--md {
        margin-top: 10rem !important;
    }
    
    .marginTop-48--md {
        margin-top: 12rem !important;
    }
    
    .marginTop-56--md {
        margin-top: 14rem !important;
    }
    
    .marginTop-64--md {
        margin-top: 16rem !important;
    }
}

@media (min-width: 992px) {
    .marginTop-0--lg {
        margin-top: 0 !important;
    }
    
    .marginTop-1--lg {
        margin-top: .25rem !important;
    }
    
    .marginTop-2--lg {
        margin-top: .5rem !important;
    }
    
    .marginTop-3--lg {
        margin-top: .75rem !important;
    }
    
    .marginTop-4--lg {
        margin-top: 1rem !important;
    }
    
    .marginTop-5--lg {
        margin-top: 1.25rem !important;
    }
    
    .marginTop-6--lg {
        margin-top: 1.5rem !important;
    }
    
    .marginTop-8--lg {
        margin-top: 2rem !important;
    }
    
    .marginTop-10--lg {
        margin-top: 2.5rem !important;
    }
    
    .marginTop-12--lg {
        margin-top: 3rem !important;
    }
    
    .marginTop-16--lg {
        margin-top: 4rem !important;
    }
    
    .marginTop-20--lg {
        margin-top: 5rem !important;
    }
    
    .marginTop-24--lg {
        margin-top: 6rem !important;
    }
    
    .marginTop-32--lg {
        margin-top: 8rem !important;
    }
    
    .marginTop-40--lg {
        margin-top: 10rem !important;
    }
    
    .marginTop-48--lg {
        margin-top: 12rem !important;
    }
    
    .marginTop-56--lg {
        margin-top: 14rem !important;
    }
    
    .marginTop-64--lg {
        margin-top: 16rem !important;
    }
}

@media (min-width: 1200px) {
    .marginTop-0--xl {
        margin-top: 0 !important;
    }
    
    .marginTop-1--xl {
        margin-top: .25rem !important;
    }
    
    .marginTop-2--xl {
        margin-top: .5rem !important;
    }
    
    .marginTop-3--xl {
        margin-top: .75rem !important;
    }
    
    .marginTop-4--xl {
        margin-top: 1rem !important;
    }
    
    .marginTop-5--xl {
        margin-top: 1.25rem !important;
    }
    
    .marginTop-6--xl {
        margin-top: 1.5rem !important;
    }
    
    .marginTop-8--xl {
        margin-top: 2rem !important;
    }
    
    .marginTop-10--xl {
        margin-top: 2.5rem !important;
    }
    
    .marginTop-12--xl {
        margin-top: 3rem !important;
    }
    
    .marginTop-16--xl {
        margin-top: 4rem !important;
    }
    
    .marginTop-20--xl {
        margin-top: 5rem !important;
    }
    
    .marginTop-24--xl {
        margin-top: 6rem !important;
    }
    
    .marginTop-32--xl {
        margin-top: 8rem !important;
    }
    
    .marginTop-40--xl {
        margin-top: 10rem !important;
    }
    
    .marginTop-48--xl {
        margin-top: 12rem !important;
    }
    
    .marginTop-56--xl {
        margin-top: 14rem !important;
    }
    
    .marginTop-64--xl {
        margin-top: 16rem !important;
    }
}

.marginRight-0 {
    margin-right: 0 !important;
}

.marginRight-1 {
    margin-right: .25rem !important;
}

.marginRight-2 {
    margin-right: .5rem !important;
}

.marginRight-3 {
    margin-right: .75rem !important;
}

.marginRight-4 {
    margin-right: 1rem !important;
}

.marginRight-5 {
    margin-right: 1.25rem !important;
}

.marginRight-6 {
    margin-right: 1.5rem !important;
}

.marginRight-8 {
    margin-right: 2rem !important;
}

.marginRight-10 {
    margin-right: 2.5rem !important;
}

.marginRight-12 {
    margin-right: 3rem !important;
}

.marginRight-16 {
    margin-right: 4rem !important;
}

.marginRight-20 {
    margin-right: 5rem !important;
}

.marginRight-24 {
    margin-right: 6rem !important;
}

.marginRight-32 {
    margin-right: 8rem !important;
}

.marginRight-40 {
    margin-right: 10rem !important;
}

.marginRight-48 {
    margin-right: 12rem !important;
}

.marginRight-56 {
    margin-right: 14rem !important;
}

.marginRight-64 {
    margin-right: 16rem !important;
}

@media (min-width: 576px) {
    .marginRight-0--sm {
        margin-right: 0 !important;
    }
    
    .marginRight-1--sm {
        margin-right: .25rem !important;
    }
    
    .marginRight-2--sm {
        margin-right: .5rem !important;
    }
    
    .marginRight-3--sm {
        margin-right: .75rem !important;
    }
    
    .marginRight-4--sm {
        margin-right: 1rem !important;
    }
    
    .marginRight-5--sm {
        margin-right: 1.25rem !important;
    }
    
    .marginRight-6--sm {
        margin-right: 1.5rem !important;
    }
    
    .marginRight-8--sm {
        margin-right: 2rem !important;
    }
    
    .marginRight-10--sm {
        margin-right: 2.5rem !important;
    }
    
    .marginRight-12--sm {
        margin-right: 3rem !important;
    }
    
    .marginRight-16--sm {
        margin-right: 4rem !important;
    }
    
    .marginRight-20--sm {
        margin-right: 5rem !important;
    }
    
    .marginRight-24--sm {
        margin-right: 6rem !important;
    }
    
    .marginRight-32--sm {
        margin-right: 8rem !important;
    }
    
    .marginRight-40--sm {
        margin-right: 10rem !important;
    }
    
    .marginRight-48--sm {
        margin-right: 12rem !important;
    }
    
    .marginRight-56--sm {
        margin-right: 14rem !important;
    }
    
    .marginRight-64--sm {
        margin-right: 16rem !important;
    }
}

@media (min-width: 768px) {
    .marginRight-0--md {
        margin-right: 0 !important;
    }
    
    .marginRight-1--md {
        margin-right: .25rem !important;
    }
    
    .marginRight-2--md {
        margin-right: .5rem !important;
    }
    
    .marginRight-3--md {
        margin-right: .75rem !important;
    }
    
    .marginRight-4--md {
        margin-right: 1rem !important;
    }
    
    .marginRight-5--md {
        margin-right: 1.25rem !important;
    }
    
    .marginRight-6--md {
        margin-right: 1.5rem !important;
    }
    
    .marginRight-8--md {
        margin-right: 2rem !important;
    }
    
    .marginRight-10--md {
        margin-right: 2.5rem !important;
    }
    
    .marginRight-12--md {
        margin-right: 3rem !important;
    }
    
    .marginRight-16--md {
        margin-right: 4rem !important;
    }
    
    .marginRight-20--md {
        margin-right: 5rem !important;
    }
    
    .marginRight-24--md {
        margin-right: 6rem !important;
    }
    
    .marginRight-32--md {
        margin-right: 8rem !important;
    }
    
    .marginRight-40--md {
        margin-right: 10rem !important;
    }
    
    .marginRight-48--md {
        margin-right: 12rem !important;
    }
    
    .marginRight-56--md {
        margin-right: 14rem !important;
    }
    
    .marginRight-64--md {
        margin-right: 16rem !important;
    }
}

@media (min-width: 992px) {
    .marginRight-0--lg {
        margin-right: 0 !important;
    }
    
    .marginRight-1--lg {
        margin-right: .25rem !important;
    }
    
    .marginRight-2--lg {
        margin-right: .5rem !important;
    }
    
    .marginRight-3--lg {
        margin-right: .75rem !important;
    }
    
    .marginRight-4--lg {
        margin-right: 1rem !important;
    }
    
    .marginRight-5--lg {
        margin-right: 1.25rem !important;
    }
    
    .marginRight-6--lg {
        margin-right: 1.5rem !important;
    }
    
    .marginRight-8--lg {
        margin-right: 2rem !important;
    }
    
    .marginRight-10--lg {
        margin-right: 2.5rem !important;
    }
    
    .marginRight-12--lg {
        margin-right: 3rem !important;
    }
    
    .marginRight-16--lg {
        margin-right: 4rem !important;
    }
    
    .marginRight-20--lg {
        margin-right: 5rem !important;
    }
    
    .marginRight-24--lg {
        margin-right: 6rem !important;
    }
    
    .marginRight-32--lg {
        margin-right: 8rem !important;
    }
    
    .marginRight-40--lg {
        margin-right: 10rem !important;
    }
    
    .marginRight-48--lg {
        margin-right: 12rem !important;
    }
    
    .marginRight-56--lg {
        margin-right: 14rem !important;
    }
    
    .marginRight-64--lg {
        margin-right: 16rem !important;
    }
}

@media (min-width: 1200px) {
    .marginRight-0--xl {
        margin-right: 0 !important;
    }
    
    .marginRight-1--xl {
        margin-right: .25rem !important;
    }
    
    .marginRight-2--xl {
        margin-right: .5rem !important;
    }
    
    .marginRight-3--xl {
        margin-right: .75rem !important;
    }
    
    .marginRight-4--xl {
        margin-right: 1rem !important;
    }
    
    .marginRight-5--xl {
        margin-right: 1.25rem !important;
    }
    
    .marginRight-6--xl {
        margin-right: 1.5rem !important;
    }
    
    .marginRight-8--xl {
        margin-right: 2rem !important;
    }
    
    .marginRight-10--xl {
        margin-right: 2.5rem !important;
    }
    
    .marginRight-12--xl {
        margin-right: 3rem !important;
    }
    
    .marginRight-16--xl {
        margin-right: 4rem !important;
    }
    
    .marginRight-20--xl {
        margin-right: 5rem !important;
    }
    
    .marginRight-24--xl {
        margin-right: 6rem !important;
    }
    
    .marginRight-32--xl {
        margin-right: 8rem !important;
    }
    
    .marginRight-40--xl {
        margin-right: 10rem !important;
    }
    
    .marginRight-48--xl {
        margin-right: 12rem !important;
    }
    
    .marginRight-56--xl {
        margin-right: 14rem !important;
    }
    
    .marginRight-64--xl {
        margin-right: 16rem !important;
    }
}

.marginBottom-0 {
    margin-bottom: 0 !important;
}

.marginBottom-1 {
    margin-bottom: .25rem !important;
}

.marginBottom-2 {
    margin-bottom: .5rem !important;
}

.marginBottom-3 {
    margin-bottom: .75rem !important;
}

.marginBottom-4 {
    margin-bottom: 1rem !important;
}

.marginBottom-5 {
    margin-bottom: 1.25rem !important;
}

.marginBottom-6 {
    margin-bottom: 1.5rem !important;
}

.marginBottom-8 {
    margin-bottom: 2rem !important;
}

.marginBottom-10 {
    margin-bottom: 2.5rem !important;
}

.marginBottom-12 {
    margin-bottom: 3rem !important;
}

.marginBottom-16 {
    margin-bottom: 4rem !important;
}

.marginBottom-20 {
    margin-bottom: 5rem !important;
}

.marginBottom-24 {
    margin-bottom: 6rem !important;
}

.marginBottom-32 {
    margin-bottom: 8rem !important;
}

.marginBottom-40 {
    margin-bottom: 10rem !important;
}

.marginBottom-48 {
    margin-bottom: 12rem !important;
}

.marginBottom-56 {
    margin-bottom: 14rem !important;
}

.marginBottom-64 {
    margin-bottom: 16rem !important;
}

@media (min-width: 576px) {
    .marginBottom-0--sm {
        margin-bottom: 0 !important;
    }
    
    .marginBottom-1--sm {
        margin-bottom: .25rem !important;
    }
    
    .marginBottom-2--sm {
        margin-bottom: .5rem !important;
    }
    
    .marginBottom-3--sm {
        margin-bottom: .75rem !important;
    }
    
    .marginBottom-4--sm {
        margin-bottom: 1rem !important;
    }
    
    .marginBottom-5--sm {
        margin-bottom: 1.25rem !important;
    }
    
    .marginBottom-6--sm {
        margin-bottom: 1.5rem !important;
    }
    
    .marginBottom-8--sm {
        margin-bottom: 2rem !important;
    }
    
    .marginBottom-10--sm {
        margin-bottom: 2.5rem !important;
    }
    
    .marginBottom-12--sm {
        margin-bottom: 3rem !important;
    }
    
    .marginBottom-16--sm {
        margin-bottom: 4rem !important;
    }
    
    .marginBottom-20--sm {
        margin-bottom: 5rem !important;
    }
    
    .marginBottom-24--sm {
        margin-bottom: 6rem !important;
    }
    
    .marginBottom-32--sm {
        margin-bottom: 8rem !important;
    }
    
    .marginBottom-40--sm {
        margin-bottom: 10rem !important;
    }
    
    .marginBottom-48--sm {
        margin-bottom: 12rem !important;
    }
    
    .marginBottom-56--sm {
        margin-bottom: 14rem !important;
    }
    
    .marginBottom-64--sm {
        margin-bottom: 16rem !important;
    }
}

@media (min-width: 768px) {
    .marginBottom-0--md {
        margin-bottom: 0 !important;
    }
    
    .marginBottom-1--md {
        margin-bottom: .25rem !important;
    }
    
    .marginBottom-2--md {
        margin-bottom: .5rem !important;
    }
    
    .marginBottom-3--md {
        margin-bottom: .75rem !important;
    }
    
    .marginBottom-4--md {
        margin-bottom: 1rem !important;
    }
    
    .marginBottom-5--md {
        margin-bottom: 1.25rem !important;
    }
    
    .marginBottom-6--md {
        margin-bottom: 1.5rem !important;
    }
    
    .marginBottom-8--md {
        margin-bottom: 2rem !important;
    }
    
    .marginBottom-10--md {
        margin-bottom: 2.5rem !important;
    }
    
    .marginBottom-12--md {
        margin-bottom: 3rem !important;
    }
    
    .marginBottom-16--md {
        margin-bottom: 4rem !important;
    }
    
    .marginBottom-20--md {
        margin-bottom: 5rem !important;
    }
    
    .marginBottom-24--md {
        margin-bottom: 6rem !important;
    }
    
    .marginBottom-32--md {
        margin-bottom: 8rem !important;
    }
    
    .marginBottom-40--md {
        margin-bottom: 10rem !important;
    }
    
    .marginBottom-48--md {
        margin-bottom: 12rem !important;
    }
    
    .marginBottom-56--md {
        margin-bottom: 14rem !important;
    }
    
    .marginBottom-64--md {
        margin-bottom: 16rem !important;
    }
}

@media (min-width: 992px) {
    .marginBottom-0--lg {
        margin-bottom: 0 !important;
    }
    
    .marginBottom-1--lg {
        margin-bottom: .25rem !important;
    }
    
    .marginBottom-2--lg {
        margin-bottom: .5rem !important;
    }
    
    .marginBottom-3--lg {
        margin-bottom: .75rem !important;
    }
    
    .marginBottom-4--lg {
        margin-bottom: 1rem !important;
    }
    
    .marginBottom-5--lg {
        margin-bottom: 1.25rem !important;
    }
    
    .marginBottom-6--lg {
        margin-bottom: 1.5rem !important;
    }
    
    .marginBottom-8--lg {
        margin-bottom: 2rem !important;
    }
    
    .marginBottom-10--lg {
        margin-bottom: 2.5rem !important;
    }
    
    .marginBottom-12--lg {
        margin-bottom: 3rem !important;
    }
    
    .marginBottom-16--lg {
        margin-bottom: 4rem !important;
    }
    
    .marginBottom-20--lg {
        margin-bottom: 5rem !important;
    }
    
    .marginBottom-24--lg {
        margin-bottom: 6rem !important;
    }
    
    .marginBottom-32--lg {
        margin-bottom: 8rem !important;
    }
    
    .marginBottom-40--lg {
        margin-bottom: 10rem !important;
    }
    
    .marginBottom-48--lg {
        margin-bottom: 12rem !important;
    }
    
    .marginBottom-56--lg {
        margin-bottom: 14rem !important;
    }
    
    .marginBottom-64--lg {
        margin-bottom: 16rem !important;
    }
}

@media (min-width: 1200px) {
    .marginBottom-0--xl {
        margin-bottom: 0 !important;
    }
    
    .marginBottom-1--xl {
        margin-bottom: .25rem !important;
    }
    
    .marginBottom-2--xl {
        margin-bottom: .5rem !important;
    }
    
    .marginBottom-3--xl {
        margin-bottom: .75rem !important;
    }
    
    .marginBottom-4--xl {
        margin-bottom: 1rem !important;
    }
    
    .marginBottom-5--xl {
        margin-bottom: 1.25rem !important;
    }
    
    .marginBottom-6--xl {
        margin-bottom: 1.5rem !important;
    }
    
    .marginBottom-8--xl {
        margin-bottom: 2rem !important;
    }
    
    .marginBottom-10--xl {
        margin-bottom: 2.5rem !important;
    }
    
    .marginBottom-12--xl {
        margin-bottom: 3rem !important;
    }
    
    .marginBottom-16--xl {
        margin-bottom: 4rem !important;
    }
    
    .marginBottom-20--xl {
        margin-bottom: 5rem !important;
    }
    
    .marginBottom-24--xl {
        margin-bottom: 6rem !important;
    }
    
    .marginBottom-32--xl {
        margin-bottom: 8rem !important;
    }
    
    .marginBottom-40--xl {
        margin-bottom: 10rem !important;
    }
    
    .marginBottom-48--xl {
        margin-bottom: 12rem !important;
    }
    
    .marginBottom-56--xl {
        margin-bottom: 14rem !important;
    }
    
    .marginBottom-64--xl {
        margin-bottom: 16rem !important;
    }
}

.marginLeft-0 {
    margin-left: 0 !important;
}

.marginLeft-1 {
    margin-left: .25rem !important;
}

.marginLeft-2 {
    margin-left: .5rem !important;
}

.marginLeft-3 {
    margin-left: .75rem !important;
}

.marginLeft-4 {
    margin-left: 1rem !important;
}

.marginLeft-5 {
    margin-left: 1.25rem !important;
}

.marginLeft-6 {
    margin-left: 1.5rem !important;
}

.marginLeft-8 {
    margin-left: 2rem !important;
}

.marginLeft-10 {
    margin-left: 2.5rem !important;
}

.marginLeft-12 {
    margin-left: 3rem !important;
}

.marginLeft-16 {
    margin-left: 4rem !important;
}

.marginLeft-20 {
    margin-left: 5rem !important;
}

.marginLeft-24 {
    margin-left: 6rem !important;
}

.marginLeft-32 {
    margin-left: 8rem !important;
}

.marginLeft-40 {
    margin-left: 10rem !important;
}

.marginLeft-48 {
    margin-left: 12rem !important;
}

.marginLeft-56 {
    margin-left: 14rem !important;
}

.marginLeft-64 {
    margin-left: 16rem !important;
}

@media (min-width: 576px) {
    .marginLeft-0--sm {
        margin-left: 0 !important;
    }
    
    .marginLeft-1--sm {
        margin-left: .25rem !important;
    }
    
    .marginLeft-2--sm {
        margin-left: .5rem !important;
    }
    
    .marginLeft-3--sm {
        margin-left: .75rem !important;
    }
    
    .marginLeft-4--sm {
        margin-left: 1rem !important;
    }
    
    .marginLeft-5--sm {
        margin-left: 1.25rem !important;
    }
    
    .marginLeft-6--sm {
        margin-left: 1.5rem !important;
    }
    
    .marginLeft-8--sm {
        margin-left: 2rem !important;
    }
    
    .marginLeft-10--sm {
        margin-left: 2.5rem !important;
    }
    
    .marginLeft-12--sm {
        margin-left: 3rem !important;
    }
    
    .marginLeft-16--sm {
        margin-left: 4rem !important;
    }
    
    .marginLeft-20--sm {
        margin-left: 5rem !important;
    }
    
    .marginLeft-24--sm {
        margin-left: 6rem !important;
    }
    
    .marginLeft-32--sm {
        margin-left: 8rem !important;
    }
    
    .marginLeft-40--sm {
        margin-left: 10rem !important;
    }
    
    .marginLeft-48--sm {
        margin-left: 12rem !important;
    }
    
    .marginLeft-56--sm {
        margin-left: 14rem !important;
    }
    
    .marginLeft-64--sm {
        margin-left: 16rem !important;
    }
}

@media (min-width: 768px) {
    .marginLeft-0--md {
        margin-left: 0 !important;
    }
    
    .marginLeft-1--md {
        margin-left: .25rem !important;
    }
    
    .marginLeft-2--md {
        margin-left: .5rem !important;
    }
    
    .marginLeft-3--md {
        margin-left: .75rem !important;
    }
    
    .marginLeft-4--md {
        margin-left: 1rem !important;
    }
    
    .marginLeft-5--md {
        margin-left: 1.25rem !important;
    }
    
    .marginLeft-6--md {
        margin-left: 1.5rem !important;
    }
    
    .marginLeft-8--md {
        margin-left: 2rem !important;
    }
    
    .marginLeft-10--md {
        margin-left: 2.5rem !important;
    }
    
    .marginLeft-12--md {
        margin-left: 3rem !important;
    }
    
    .marginLeft-16--md {
        margin-left: 4rem !important;
    }
    
    .marginLeft-20--md {
        margin-left: 5rem !important;
    }
    
    .marginLeft-24--md {
        margin-left: 6rem !important;
    }
    
    .marginLeft-32--md {
        margin-left: 8rem !important;
    }
    
    .marginLeft-40--md {
        margin-left: 10rem !important;
    }
    
    .marginLeft-48--md {
        margin-left: 12rem !important;
    }
    
    .marginLeft-56--md {
        margin-left: 14rem !important;
    }
    
    .marginLeft-64--md {
        margin-left: 16rem !important;
    }
}

@media (min-width: 992px) {
    .marginLeft-0--lg {
        margin-left: 0 !important;
    }
    
    .marginLeft-1--lg {
        margin-left: .25rem !important;
    }
    
    .marginLeft-2--lg {
        margin-left: .5rem !important;
    }
    
    .marginLeft-3--lg {
        margin-left: .75rem !important;
    }
    
    .marginLeft-4--lg {
        margin-left: 1rem !important;
    }
    
    .marginLeft-5--lg {
        margin-left: 1.25rem !important;
    }
    
    .marginLeft-6--lg {
        margin-left: 1.5rem !important;
    }
    
    .marginLeft-8--lg {
        margin-left: 2rem !important;
    }
    
    .marginLeft-10--lg {
        margin-left: 2.5rem !important;
    }
    
    .marginLeft-12--lg {
        margin-left: 3rem !important;
    }
    
    .marginLeft-16--lg {
        margin-left: 4rem !important;
    }
    
    .marginLeft-20--lg {
        margin-left: 5rem !important;
    }
    
    .marginLeft-24--lg {
        margin-left: 6rem !important;
    }
    
    .marginLeft-32--lg {
        margin-left: 8rem !important;
    }
    
    .marginLeft-40--lg {
        margin-left: 10rem !important;
    }
    
    .marginLeft-48--lg {
        margin-left: 12rem !important;
    }
    
    .marginLeft-56--lg {
        margin-left: 14rem !important;
    }
    
    .marginLeft-64--lg {
        margin-left: 16rem !important;
    }
}

@media (min-width: 1200px) {
    .marginLeft-0--xl {
        margin-left: 0 !important;
    }
    
    .marginLeft-1--xl {
        margin-left: .25rem !important;
    }
    
    .marginLeft-2--xl {
        margin-left: .5rem !important;
    }
    
    .marginLeft-3--xl {
        margin-left: .75rem !important;
    }
    
    .marginLeft-4--xl {
        margin-left: 1rem !important;
    }
    
    .marginLeft-5--xl {
        margin-left: 1.25rem !important;
    }
    
    .marginLeft-6--xl {
        margin-left: 1.5rem !important;
    }
    
    .marginLeft-8--xl {
        margin-left: 2rem !important;
    }
    
    .marginLeft-10--xl {
        margin-left: 2.5rem !important;
    }
    
    .marginLeft-12--xl {
        margin-left: 3rem !important;
    }
    
    .marginLeft-16--xl {
        margin-left: 4rem !important;
    }
    
    .marginLeft-20--xl {
        margin-left: 5rem !important;
    }
    
    .marginLeft-24--xl {
        margin-left: 6rem !important;
    }
    
    .marginLeft-32--xl {
        margin-left: 8rem !important;
    }
    
    .marginLeft-40--xl {
        margin-left: 10rem !important;
    }
    
    .marginLeft-48--xl {
        margin-left: 12rem !important;
    }
    
    .marginLeft-56--xl {
        margin-left: 14rem !important;
    }
    
    .marginLeft-64--xl {
        margin-left: 16rem !important;
    }
}