
// 
// FONT WEIGHT
// 

.fontWeight-1 {
    font-weight: 100 !important;
}

.fontWeight-2 {
    font-weight: 200 !important;
}

.fontWeight-3 {
    font-weight: 300 !important;
}

.fontWeight-4 {
    font-weight: 400 !important;
}

.fontWeight-5 {
    font-weight: 500 !important;
}

.fontWeight-6 {
    font-weight: 600 !important;
}

.fontWeight-7 {
    font-weight: 700 !important;
}

.fontWeight-8 {
    font-weight: 800 !important;
}

.fontWeight-9 {
    font-weight: 900 !important;
}

@media(min-width: 640px) {
    .fontWeight-1--sm {
        font-weight: 100 !important;
    }

    .fontWeight-2--sm {
        font-weight: 200 !important;
    }

    .fontWeight-3--sm {
        font-weight: 300 !important;
    }

    .fontWeight-4--sm {
        font-weight: 400 !important;
    }

    .fontWeight-5--sm {
        font-weight: 500 !important;
    }

    .fontWeight-6--sm {
        font-weight: 600 !important;
    }

    .fontWeight-7--sm {
        font-weight: 700 !important;
    }

    .fontWeight-8--sm {
        font-weight: 800 !important;
    }

    .fontWeight-9--sm {
        font-weight: 900 !important;
    }
}

@media(min-width: 768px) {
    .fontWeight-1--md {
        font-weight: 100 !important;
    }

    .fontWeight-2--md {
        font-weight: 200 !important;
    }

    .fontWeight-3--md {
        font-weight: 300 !important;
    }

    .fontWeight-4--md {
        font-weight: 400 !important;
    }

    .fontWeight-5--md {
        font-weight: 500 !important;
    }

    .fontWeight-6--md {
        font-weight: 600 !important;
    }

    .fontWeight-7--md {
        font-weight: 700 !important;
    }

    .fontWeight-8--md {
        font-weight: 800 !important;
    }

    .fontWeight-9--md {
        font-weight: 900 !important;
    }
}

@media(min-width: 1024px) {
    .fontWeight-1--lg {
        font-weight: 100 !important;
    }

    .fontWeight-2--lg {
        font-weight: 200 !important;
    }

    .fontWeight-3--lg {
        font-weight: 300 !important;
    }

    .fontWeight-4--lg {
        font-weight: 400 !important;
    }

    .fontWeight-5--lg {
        font-weight: 500 !important;
    }

    .fontWeight-6--lg {
        font-weight: 600 !important;
    }

    .fontWeight-7--lg {
        font-weight: 700 !important;
    }

    .fontWeight-8--lg {
        font-weight: 800 !important;
    }

    .fontWeight-9--lg {
        font-weight: 900 !important;
    }
}

@media(min-width: 1280px) {
    .fontWeight-1--xl {
        font-weight: 100 !important;
    }

    .fontWeight-2--xl {
        font-weight: 200 !important;
    }

    .fontWeight-3--xl {
        font-weight: 300 !important;
    }

    .fontWeight-4--xl {
        font-weight: 400 !important;
    }

    .fontWeight-5--xl {
        font-weight: 500 !important;
    }

    .fontWeight-6--xl {
        font-weight: 600 !important;
    }

    .fontWeight-7--xl {
        font-weight: 700 !important;
    }

    .fontWeight-8--xl {
        font-weight: 800 !important;
    }

    .fontWeight-9--xl {
        font-weight: 900 !important;
    }
}