
// 
// DISPLAY
// 

$display: (
    values: (
        'n'     : none,
        'i'     : inline,
        'b'     : block,
        'ib'    : inline-block,
        'f'     : flex,
        'if'    : inline-flex,
        'tb'    : table,
        'tbc'   : table-cell,
        'tbr'   : table-row,
    )
) !default;

// 
// FLOAT
// 

$float: (
    values: (
        'n'     : none,
        'start' : left,
        'end'   : right,
    )
) !default;

// 
// TYPOGRAPHY
// 

$font-weight: (
    values: (
        '100'   : 100,
        '200'   : 200,
        '300'   : 300,
        '400'   : 400,
        '500'   : 500,
        '600'   : 600,
        '700'   : 700,
        '800'   : 800,
        '900'   : 900,
        'n'     : normal,
        'lr'    : lighter,
        'b'     : bold,
        'br'    : bolder,
    )
) !default;

$font-style: (
    values: (
        'n'     : none,
        'sc'    : small-caps,
    )
) !default;

$text-align: (
    values: (
        'c'     : center,
        'end'   : right,
        'j'     : justify,
        'start' : left,
    )
) !default;

$text-decoration: (
    values: (
        'n'     : none,
        'lt'    : line-through,
        'o'     : overline,
        'u'     : underline,
    )
) !default;

$text-transform: (
    values: (
        'n' : none,
        'c' : capitalize,
        'u' : uppercase,
        'l' : lowercase,
    )
) !default;