
// 
// DISPLAY
// 

$display: (
    values: (
        'n'     : none,
        'i'     : inline,
        'b'     : block,
        'ib'    : inline-block,
        'f'     : flex,
        'if'    : inline-flex,
        'tb'    : table,
        'tbc'   : table-cell,
        'tbr'   : table-row,
    )
);

// 
// TYPOGRAPHY
// 

$text-align: (
    values: (
        'c'     : center,
        'end'   : right,
        'j'     : justify,
        'start' : left,
    )
);

$text-decoration: (
    values: (
        'n'     : none,
        'lt'    : line-through,
        'o'     : overline,
        'u'     : underline,
    )
);

$text-transform: (
    values: (
        'n' : none,
        'c' : capitalize,
        'u' : uppercase,
        'l' : lowercase,
    )
);